<section id="content" class="m-t-lg wrapper-md animated fadeInUp">    
    <div class="container aside-xl" style="width: 360px">
      <p class="navbar-brand block" style="float:none !important;"><%= image_tag "logo-dark.png", width:"120px", alt: "Chowdy", class: "m-t-sm m-b-sm" %></p>
      <section class="m-b-lg">
        <header class="wrapper text-center" style="color:#788288">
          <strong>Choose a new password</strong>
        </header>
        <%= form_for @user, :url => password_reset_path(@token), :html => {:method => :put} do |f| %>
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="list-group">
            <div class="list-group-item" style="border-color:#eaeef1">
              <p class = "m-l-sm m-t-xs m-b-xs"><%= @user.email %></p>
            </div>
            <div class="list-group-item" style="border-color:#eaeef1">
               <%= f.password_field :password,class:"form-control no-border", style:"border-color: transparent; border-width: 0; box-shadow: none;", placeholder:"Password" %>
            </div>
            <div class="list-group-item" style="border-color:#eaeef1">
               <%= f.password_field :password_confirmation,class:"form-control no-border", style:"border-color: transparent; border-width: 0; box-shadow: none;", placeholder:"Retype Password" %>
            </div>
               <%= f.submit 'Change password', class:"btn btn-lg btn-primary btn-block m-t-md", style:"border-radius: 2px" %>
        <% end %>
      </section>
    </div>
</section>
