
<script>
$("#fakeLoader").fakeLoader({
    timeToHide:30000, //Time in milliseconds for fakeLoader disappear
    zIndex:"999",//Default zIndex
    spinner:"spinner6",//Options: 'spinner1', 'spinner2', 'spinner3', 'spinner4', 'spinner5', 'spinner6', 'spinner7'
    bgColor:"#f2f4f8", //Hex, RGB or RGBA colors  
});
$(function(){
    $("#fakeLoader").fadeOut();
    //URL segment

      //retrieve
      var hash = (window.location.hash == "" || window.location.hash == "#_=_") ? "#dashboard" : window.location.hash;
      $('#main-nav li a[href='+hash+']').tab("show");
      $(".nav-main").find(".highlight").removeClass("highlight");
      $('#main-nav li a[href='+hash+']').parent().addClass("highlight");

      //navigation amongst the tabs
      $('#main-nav li a, .link_to_settings, #logo').off("click").on("click",function(){
        window.location.hash = $(this).attr("href");
        $(".nav-main").find(".highlight").removeClass("highlight");
        $(".nav-main").find('a[href="'+$(this).attr("href")+'"]').parent().addClass("highlight");
      });

      // ajax

      function formRetrievalAjax() {
          $('.pull_system_setting_form, .pull_next_week_total, .nestedForm').off("click").on("click",function(){
            event.preventDefault();
            $.ajax({
              url: $(this).attr('href'),
              type: 'GET',
              dataType: 'html'
            }).done(function(data){
              $('#formModal .modal-content').html(data);
              $('#formModal').modal({show:true});
              $("#formModal").animate({
                  scrollTop: 0
              }, 500);

              formRetrievalAjax();
            });
          });
      };

      // data tables

       $('#missing_hub_info').DataTable({
        searching: false,
        fnDrawCallback: function(oSettings){
          formRetrievalAjax();
        }
       });

       $('#system_setting_table').DataTable({
        iDisplayLength: 25
       });

       $('#feedback').DataTable({
        searching: false,
        order: [[1, "desc"]]
       });

       $('#overdue_invoice').DataTable({
        scrollX: true,
        searching: false,
        order: [[5, "asc"]]
       });

       $('#all_customers').DataTable({
        iDisplayLength: 10,
        scrollX: true,
        scrollY: Math.max(document.documentElement.clientHeight, window.innerHeight || 0) - 300,
        fnDrawCallback: function(oSettings){
          formRetrievalAjax();
        }
       });

       $('#scheduled_tasks').DataTable({
        searching: false,
        scrollX: true,
        paging: false
       });


      //collapse

      $('.meal_details_collapse_control').off("click").on("click",function(){
        if ($('.meals_details').hasClass("hidden")) {
          $('.meals_details').removeClass("hidden");
        } else {
          $('.meals_details').addClass("hidden");
        } 
      });

      // Plot sign ups and cancels
      // var sign_ups = {
      //   label: "Sign up",
      //   data: <%= @signup_timeseries %>

      // }
      // var cancels = {
      //   label: "Cancel",
      //   data: <%= @cancel_timeseries %>
      // }

      // var options = {
      //     series: {
      //         lines: {
      //             show: true,
      //             lineWidth: 1,
      //             fill: true,
      //             fillColor: {
      //                 colors: [{
      //                     opacity: 0.3
      //                 }, {
      //                     opacity: 0.3
      //                 }]
      //             }
      //         },
      //         points: {
      //             show: true
      //         },
      //         shadowSize: 2
      //     },
      //     grid: {
      //         hoverable: true,
      //         clickable: true,
      //         tickColor: "#f0f0f0",
      //         borderWidth: 0
      //     },
      //     colors: ["#1bb399","#177bbb"],
      //     xaxis: {
      //       mode: "time",
      //       timeformat: "%Y-%m-%d"
      //     },
      //     yaxis: {
      //         ticks: 10,
      //         tickDecimals: 0
      //     },
      //     tooltip: true,
      //     tooltipOpts: {
      //       content: "'%s' of %x.1 is %y.4",
      //       defaultTheme: false,
      //       shifts: {
      //         x: 0,
      //         y: 20
      //       }
      //     }
      // };

      
      // function plotCharge() {
      //   if (window.location.hash == "#dashboard" || window.location.hash == "") {
      //   var sign_up_cancel_plot = $.plot($("#sign_up_cancel_chart"), [sign_ups,cancels],options);
      //   }
      // }
      // plotCharge();

      formRetrievalAjax();

       var system_setting_table = $('#system_setting').DataTable({
        searching: false,
        paging:false
       });

       system_setting_table.on('page', function () {
          formRetrievalAjax();
        } );

});

</script>


<section class="vbox">
    <header class="bg-black header header-md navbar-fixed-top-xs box-shadow">
        <div class="navbar-header aside-md">
            <a class="btn btn-link visible-xs m-t-sm" data-toggle="class:nav-off-screen" data-target="#nav">
                      <i class="fa fa-bars"></i>
            </a>
            <a href="#dashboard" data-toggle="tab" id="logo">
              <%= image_tag "logo-light.png", width:"120px", alt: "Chowdy", class: "m-t-sm m-b-sm" %>
            </a>
        </div>
      
    </header>    
    <section>
        <section class="hbox stretch">
            
            <aside class="bg-white aside-md hidden-print b-r" id="nav">
                <nav class="nav-primary hidden-xs padder-v tabbable">
                    <div class="visible-xs" style="height: 65px;"></div>
                    <ul class="nav nav-main" data-ride="collapse" id="main-nav">
                        <li class="highlight">
                          <a href="#dashboard" class="auto b-b padder-v" data-toggle="tab">
                            <i class="i i-statistics icon">
                            </i>
                            <span class="font-bold">Dashboard</span>
                          </a>
                        </li>
                        <li>
                          <a href="#customers" class="b-b padder-v" data-toggle="tab">
                            <i class="i i-users2 icon">
                            </i>
                            <span class="font-bold">Customers</span>
                          </a>
                        </li>
                        <li>
                          <a href="#promotions" class="b-b padder-v" data-toggle="tab">
                            <i class="i i-star2 icon">
                            </i>
                            <span class="font-bold">Promotions</span>
                          </a>
                        </li>
                        <li>
                          <a href="#system_settings" class="b-b padder-v" data-toggle="tab">
                            <i class="i i-params icon">
                            </i>
                            <span class="font-bold">System Settings</span>
                          </a>
                        </li>
                        <li>
                          <%= link_to logout_path, class:"padder-v" do %>
                            <i class="fa fa-terminal">
                            </i>
                            <span class="font-bold">Log out</span>
                          <% end %>
                        </li>
                    </ul>

                </nav>
                
            </aside>


            <section id="content container">
                <section class="hbox stretch bg-light tab-content">
                    <section class="tab-pane active" id="dashboard" role="tabpanel">
                        <section class="vbox">
                            <section class="scrollable padder">
                              <% if flash[:notice_dashboard] %>
                                <div class="row m-t-sm">
                                  <div class="col-sm-12">
                                    <div class="alert alert-<%= flash[:status] == "success" ? "success" : "danger" %>" style="margin-bottom:0 !important;">
                                      <%= flash[:notice_dashboard] %>
                                    </div>
                                  </div>
                                </div>
                              <% end %>
                              <section class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-default b-a m-t-md">
                                      <header class="panel-heading text-center">
                                        <div class="row">
                                          <div class="col-md-6">
                                            <span class="h2 block m-r-md text-primary"><%= @total_meals %> meals | <%= @current_customers_count %> customers</span>
                                            <small class="text-muted text-u-c">Current Week Total</small>
                                          </div>
                                          <div class="col-md-6">
                                            <span class="h2 block text-info pull_next_week_total" style="cursor: pointer;" href="<%= next_week_breakdown_path %>"><%= @total_meals_next %> meals | <%= @next_week_customers_count %> customers</span>
                                            <small class="text-muted text-u-c">Next Week Total</small>
                                          </div>
                                        </div>
                                      </header>
                                        <div class="row m-n text-center">
                                            <div class="col-md-2">
                                                <section class="row b-b padder-v meal_details_collapse_control" style="cursor:pointer">
                                                    <div class="text-center text-primary">
                                                          <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @monday_regular %></span>
                                                          <small class="text-muted text-u-c">Monday Regular</small>
                                                    </div>  
                                                </section>
                                                <div class="meals_details hidden">
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @monday_regular_wandas %></span>
                                                            <small class="text-muted text-u-c">Wanda's (not selected)</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @wandas_selected_regular_monday %></span>
                                                            <small class="text-muted text-u-c">Wanda's (selected)</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @monday_regular_coffee_bar %></span>
                                                            <small class="text-muted text-u-c">Coffee Bar (not selected)</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @coffee_bar_selected_regular_monday %></span>
                                                            <small class="text-muted text-u-c">Coffee Bar (selected)</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @monday_regular_dekefir %></span>
                                                            <small class="text-muted text-u-c">deKEFIR</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @monday_regular_gta_delivery %></span>
                                                            <small class="text-muted text-u-c">GTA Delivery (Not selected)</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @gta_selected_regular_monday %></span>
                                                            <small class="text-muted text-u-c">GTA Delivery (selected)</small>
                                                      </div>  
                                                  </section>
                                                </div>
                                            </div>

                                            <div class="col-md-1">
                                                <section class="row b-b padder-v meal_details_collapse_control" style="cursor:pointer">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 13px;">P: <%= @neg_adjustment_pork_monday %></span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 13px;">B: <%= @neg_adjustment_beef_monday %></span>
                                                    </div>  
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 14px;">C: <%= @neg_adjustment_poultry_monday %></span>
                                                    </div>    
                                                </section>
                                                <div class="meals_details hidden">
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">P: <%= @neg_adjustment_pork_monday_wandas %></span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">B: <%= @neg_adjustment_beef_monday_wandas %></span>
                                                    </div>  
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 14px;">C: <%= @neg_adjustment_poultry_monday_wandas %></span>
                                                    </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">P: <%= @wandas_selected_pork_monday %></span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">B: <%= @wandas_selected_beef_monday %></span>
                                                    </div>  
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 14px;">C: <%= @wandas_selected_poultry_monday %></span>
                                                    </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">P: <%= @neg_adjustment_pork_monday_coffee_bar %></span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">B: <%= @neg_adjustment_beef_monday_coffee_bar %></span>
                                                    </div>  
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 14px;">C: <%= @neg_adjustment_poultry_monday_coffee_bar %></span>
                                                    </div>   
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">P: <%= @coffee_bar_selected_pork_monday %></span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">B: <%= @coffee_bar_selected_beef_monday %></span>
                                                    </div>  
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 14px;">C: <%= @coffee_bar_selected_poultry_monday %></span>
                                                    </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">P: <%= @neg_adjustment_pork_monday_dekefir %></span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">B: <%= @neg_adjustment_beef_monday_dekefir %></span>
                                                    </div>  
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 14px;">C: <%= @neg_adjustment_poultry_monday_dekefir %></span>
                                                    </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">P: <%= @neg_adjustment_pork_monday_gta_delivery %></span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">B: <%= @neg_adjustment_beef_monday_gta_delivery %></span>
                                                    </div>  
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 14px;">C: <%= @neg_adjustment_poultry_monday_gta_delivery %></span>
                                                    </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">P: <%= @gta_selected_pork_monday %></span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">B: <%= @gta_selected_beef_monday %></span>
                                                    </div>  
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 14px;">C: <%= @gta_selected_poultry_monday %></span>
                                                    </div>  
                                                  </section>
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <section class="row b-b padder-v meal_details_collapse_control" style="cursor:pointer">
                                                    <div class="text-center text-primary">
                                                          <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @monday_green %></span>
                                                          <small class="text-muted text-u-c">Monday Green</small>
                                                    </div>  
                                                </section>
                                                <div class="meals_details hidden">
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @monday_green_wandas %></span>
                                                            <small class="text-muted text-u-c">Wanda's (not selected)</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @wandas_selected_green_monday %></span>
                                                            <small class="text-muted text-u-c">Wanda's (selected)</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @monday_green_coffee_bar %></span>
                                                            <small class="text-muted text-u-c">Coffee Bar (not selected)</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @coffee_bar_selected_green_monday %></span>
                                                            <small class="text-muted text-u-c">Coffee Bar (selected)</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @monday_green_dekefir %></span>
                                                            <small class="text-muted text-u-c">deKEFIR</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @monday_green_gta_delivery %></span>
                                                            <small class="text-muted text-u-c">GTA Delivery (not selected)</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @gta_selected_green_monday %></span>
                                                            <small class="text-muted text-u-c">GTA delivery (selected)</small>
                                                      </div>  
                                                  </section>
                                                </div>
                                            </div>

                                            <div class="col-md-1">
                                                <section class="row b-b padder-v meal_details_collapse_control" style="cursor:pointer">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 25px;">G1: </span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 25px;">G2: </span>
                                                    </div>     
                                                </section>
                                                <div class="meals_details hidden">
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G1: </span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G2: </span>
                                                    </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G1: <%= @wandas_selected_green_1_monday %></span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G2: <%= @wandas_selected_green_2_monday %></span>
                                                    </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G1: </span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G2: </span>
                                                    </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G1: <%= @coffee_bar_selected_green_1_monday %></span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G2: <%= @coffee_bar_selected_green_2_monday %></span>
                                                    </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G1:</span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G2:</span>
                                                    </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G1: </span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G2: </span>
                                                    </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G1: <%= @gta_selected_green_1_monday %></span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G2: <%= @gta_selected_green_2_monday %></span>
                                                    </div>  
                                                  </section>
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <section class="row b-b padder-v meal_details_collapse_control" style="cursor:pointer">
                                                    <div class="text-center text-primary">
                                                          <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @thursday_regular %></span>
                                                          <small class="text-muted text-u-c">Thursday Regular</small>
                                                    </div>  
                                                </section>
                                                <div class="meals_details hidden">
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @thursday_regular_wandas %></span>
                                                            <small class="text-muted text-u-c">Wanda's (not selected)</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @wandas_selected_regular_thursday %></span>
                                                            <small class="text-muted text-u-c">Wanda's (selected)</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @thursday_regular_coffee_bar %></span>
                                                            <small class="text-muted text-u-c">Coffee Bar (not selected)</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @coffee_bar_selected_regular_thursday %></span>
                                                            <small class="text-muted text-u-c">Coffee Bar (selected)</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @thursday_regular_dekefir %></span>
                                                            <small class="text-muted text-u-c">deKEFIR</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @thursday_regular_gta_delivery %></span>
                                                            <small class="text-muted text-u-c">GTA Delivery (not selected)</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @gta_selected_regular_thursday %></span>
                                                            <small class="text-muted text-u-c">GTA delivery (selected)</small>
                                                      </div>  
                                                  </section>
                                                </div>
                                            </div>

                                            <div class="col-md-1">
                                                <section class="row b-b padder-v meal_details_collapse_control" style="cursor:pointer">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 13px;">P: <%= @neg_adjustment_pork_thursday %></span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 13px;">B: <%= @neg_adjustment_beef_thursday %></span>
                                                    </div>  
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 14px;">C: <%= @neg_adjustment_poultry_thursday %></span>
                                                    </div>    
                                                </section>
                                                <div class="meals_details hidden">
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">P: <%= @neg_adjustment_pork_thursday_wandas %></span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">B: <%= @neg_adjustment_beef_thursday_wandas %></span>
                                                    </div>  
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 14px;">C: <%= @neg_adjustment_poultry_thursday_wandas %></span>
                                                    </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">P: <%= @wandas_selected_pork_thursday %></span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">B: <%= @wandas_selected_beef_thursday %></span>
                                                    </div>  
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 14px;">C: <%= @wandas_selected_poultry_thursday %></span>
                                                    </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">P: <%= @neg_adjustment_pork_thursday_coffee_bar %></span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">B: <%= @neg_adjustment_beef_thursday_coffee_bar %></span>
                                                    </div>  
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 14px;">C: <%= @neg_adjustment_poultry_thursday_coffee_bar %></span>
                                                    </div>   
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">P: <%= @coffee_bar_selected_pork_thursday %></span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">B: <%= @coffee_bar_selected_beef_thursday %></span>
                                                    </div>  
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 14px;">C: <%= @coffee_bar_selected_poultry_thursday %></span>
                                                    </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">P: <%= @neg_adjustment_pork_thursday_dekefir %></span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">B: <%= @neg_adjustment_beef_thursday_dekefir %></span>
                                                    </div>  
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 14px;">C: <%= @neg_adjustment_poultry_thursday_dekefir %></span>
                                                    </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">P: <%= @neg_adjustment_pork_thursday_gta_delivery %></span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">B: <%= @neg_adjustment_beef_thursday_gta_delivery %></span>
                                                    </div>  
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 14px;">C: <%= @neg_adjustment_poultry_thursday_gta_delivery %></span>
                                                    </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">P: <%= @gta_selected_pork_thursday %></span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 16px;">B: <%= @gta_selected_beef_thursday %></span>
                                                    </div>  
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 14px;">C: <%= @gta_selected_poultry_thursday %></span>
                                                    </div>  
                                                  </section>
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <section class="row b-b padder-v meal_details_collapse_control" style="cursor:pointer">
                                                    <div class="text-center text-primary">
                                                          <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @thursday_green %></span>
                                                          <small class="text-muted text-u-c">Thursday Green</small>
                                                    </div>  
                                                </section>
                                                <div class="meals_details hidden">
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @thursday_green_wandas %></span>
                                                            <small class="text-muted text-u-c">Wanda's (not selected)</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @wandas_selected_green_thursday %></span>
                                                            <small class="text-muted text-u-c">Wanda's (selected)</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @thursday_green_coffee_bar %></span>
                                                            <small class="text-muted text-u-c">Coffee Bar (not selected)</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @coffee_bar_selected_green_thursday %></span>
                                                            <small class="text-muted text-u-c">Coffee Bar (selected)</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @thursday_green_dekefir %></span>
                                                            <small class="text-muted text-u-c">deKEFIR</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @thursday_green_gta_delivery %></span>
                                                            <small class="text-muted text-u-c">GTA Delivery (not selected)</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @gta_selected_green_thursday %></span>
                                                            <small class="text-muted text-u-c">GTA delivery (selected)</small>
                                                      </div>  
                                                  </section>
                                                </div>
                                            </div>

                                            <div class="col-md-1">
                                                <section class="row b-b padder-v meal_details_collapse_control" style="cursor:pointer">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 25px;">G1: </span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 25px;">G2: </span>
                                                    </div>     
                                                </section>
                                                <div class="meals_details hidden">
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G1: </span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G2: </span>
                                                    </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G1: <%= @wandas_selected_green_1_thursday %></span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G2: <%= @wandas_selected_green_2_thursday %></span>
                                                    </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G1: </span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G2: </span>
                                                    </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G1: <%= @coffee_bar_selected_green_1_thursday %></span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G2: <%= @coffee_bar_selected_green_2_thursday %></span>
                                                    </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G1:</span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G2:</span>
                                                    </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G1: </span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G2: </span>
                                                    </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G1: <%= @gta_selected_green_1_thursday %></span>
                                                    </div>
                                                    <div class="text-center text-muted">
                                                          <span class="h5 block" style="height: 29;">G2: <%= @gta_selected_green_2_thursday %></span>
                                                    </div>  
                                                  </section>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                              </section>

                              <section class="row">
                                <div class="col-sm-12">
                                  <div class="panel panel-default">
                                    <header class="panel-heading">
                                      Create customer sheets
                                    </header>
                                    <div class="row padder">
                                      <div class="col-sm-4 padder-v text-center">
                                        <%= link_to "Wanda's", customer_sheet_path+"?hub=wandas", class:"btn btn-s-md btn-info btn-rounded" %>
                                        <%= link_to "CSV", customer_sheet_path(format: :csv)+"?hub=wandas", class:"btn btn-s-md btn-default btn-rounded" %>
                                      </div>
                                      <div class="col-sm-4 padder-v text-center">
                                        <%= link_to "Coffee Bar", customer_sheet_path+"?hub=coffee_bar", class:"btn btn-s-md btn-info btn-rounded" %>
                                        <%= link_to "CSV", customer_sheet_path(format: :csv)+"?hub=coffee_bar", class:"btn btn-s-md btn-default btn-rounded" %>
                                      </div>
                                      <div class="col-sm-4 padder-v text-center">
                                        <%= link_to "deKEFIR", customer_sheet_path+"?hub=dekefir", class:"btn btn-s-md btn-info btn-rounded" %>
                                        <%= link_to "CSV", customer_sheet_path(format: :csv)+"?hub=dekefir", class:"btn btn-s-md btn-default btn-rounded" %>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>

                              <% if @customers_with_missing_info.length > 0 %>
                                <section class="row padder">
                                  <div class="panel panel-default">
                                    <header class="panel-heading">
                                      Customers with Missing Hub Information
                                    </header>
                                    <div class="table-responsive">
                                      <table id="missing_hub_info" class="display table table-striped m-b-none" style="font-size: 12px">
                                        <thead>
                                          <tr>
                                            <th>Edit</th>
                                            <th>Customer ID</th>
                                            <th>Customer Name</th>
                                            <th>Customer Email</th>
                                            <th>Selected Hub</th>
                                            <th>Monday Pick-up Hub</th>
                                            <th>Thursday Pick-up Hub</th>
                                            <th>Monday Delivery Hub</th>
                                            <th>Thursday Delivery Hub</th>
                                            <th>Delivery requested</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <% @customers_with_missing_info.each do |c| %>
                                            <tr>
                                              <td><button class="btn btn-s-md btn-warning btn-rounded pull_system_setting_form" href="<%= admin_edit_customer_path(c) %>" style="min-width: 0px;width: 60px;">Edit</button></td>
                                              <td><%= c.id %></td>
                                              <td><%= c.name %></td>
                                              <td><%= c.email %></td>
                                              <td><%= c.hub %></td>
                                              <td><%= c.monday_pickup_hub %></td>
                                              <td><%= c.thursday_pickup_hub %></td>
                                              <td><%= c.monday_delivery_hub %></td>
                                              <td><%= c.thursday_delivery_hub %></td>
                                              <td><%= c.recurring_delivery %></td>
                                            </tr>
                                          <% end %>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div> 
                                </section>
                              <% end %>
                              <section class="row padder">
                                <div class="panel panel-default">
                                  <header class="panel-heading">
                                    Customers with overdue invoices
                                  </header>
                                  <div class="table-responsive">
                                    <table id="overdue_invoice" class="display table table-striped m-b-none" style="font-size: 12px">
                                      <thead>
                                        <tr>
                                          <th>Stripe</th>
                                          <th>Close invoice</th>  
                                          <th>Customerm ID</th>
                                          <th>Customer Name</th>
                                          <th>Customer Email</th>
                                          <th>Invoice Date</th>
                                          <th>Date Joined</th>
                                          <th>Invoice Number</th>
                                          <th>Number of Attempts</th>
                                          <th>Invoice Amount</th>
                                          <th>Last Attempt Date</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% @all_failed_invoices.each do |i| %>
                                          <tr>
                                            <td><%= link_to "Stripe", "https://dashboard.stripe.com/customers/#{i.customer.stripe_customer_id}", target: "_blank", class:"btn btn-s-md btn-primary btn-rounded", style:"min-width: 0px;width: 60px;" %></td>
                                            <td><%= link_to "Close", mark_failed_invoice_as_paid_path(i), class: "btn btn-s-md btn-warning btn-rounded", style: "min-width: 0px;width: 60px;" %></td>
                                            <td><%= i.customer.id %></td>
                                            <td><%= i.customer.name %></td>
                                            <td><%= i.customer.email %></td>
                                            <td><%= i.invoice_date %></td>
                                            <td><%= i.customer.created_at.strftime("%Y-%m-%d") %></td>
                                            <td><%= i.invoice_number %></td>
                                            <td><%= i.number_of_attempts %></td>
                                            <td>$<%= i.invoice_amount.to_f/100 %></td>
                                            <td><%= i.latest_attempt_date %></td>
                                          </tr>
                                        <% end %>
                                      </tbody>
                                    </table>
                                  </div>
                                </div> 
                              </section>

                              <section class="row padder">
                                <div class="panel panel-default">
                                  <header class="panel-heading">
                                    Customers with delivery request
                                    <%= link_to "Download CSV", deliveries_csv_path(format: :csv), class:"btn btn-s-md btn-default btn-rounded" %>
                                  </header>
                                </div> 
                              </section>

                              <section class="row padder">
                                <div class="panel panel-default">
                                  <header class="panel-heading">
                                    Customer Feedback
                                  </header>
                                  <div class="table-responsive">
                                    <table id="feedback" class="display table table-striped m-b-none" style="font-size: 12px">
                                      <thead>
                                        <tr>
                                          <th>Customer name</th>
                                          <th>Date received</th>
                                          <th>Feedback Type</th>
                                          <th>Feedback</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% @feedback.each do |f| %>
                                          <tr>
                                            <td><%= f.customer.nil? ? f.stripe_customer_id : f.customer.name %></td>
                                            <td><%= f.created_at.strftime("%Y-%m-%d") %></td>
                                            <td><%= f.occasion %></td>
                                            <td><%= f.feedback %></td>
                                          </tr>
                                        <% end %>
                                      </tbody>
                                    </table>
                                  </div>
                                </div> 
                              </section>
<!-- 
                              <section class="row padder">
                                <div class="panel panel-default">
                                  <header class="panel-heading">
                                    Sign up and cancellations chart
                                  </header>
                                  <div id="sign_up_cancel_chart" style="height:240px;">
                                    
                                  </div>
                                </div> 
                              </section> -->

                            </section>
                        </section>
                    </section>
                    
                    <section class="tab-pane" id="customers" role="tabpanel">
                        <section class="vbox">
                            <section class="scrollable padder padder-v">
                              <% if flash[:notice_customers] %>
                                <div class="row m-t-sm">
                                  <div class="col-sm-12">
                                    <div class="alert alert-<%= flash[:status] == "success" ? "success" : "danger" %>" style="margin-bottom:0 !important;">
                                      <%= flash[:notice_customers] %>
                                    </div>
                                  </div>
                                </div>
                              <% end %>
                              <section class="row padder">
                                <div class="panel panel-default">
                                  <header class="panel-heading">
                                    Manage customers
                                  </header>
                                  <div class="table-responsive">
                                    <table id="all_customers" class="display table table-striped m-b-none" style="font-size: 12px">
                                      <thead>
                                        <tr>
                                          <th>Edit</th>
                                          <th>Link to Stripe dashboard</th>
                                          <th>Account registered?</th>
                                          <th>Resend signup link</th>
                                          <th>Outstanding requests</th>
                                          <% @customer_column_names.each do |c| %>
                                          <th><%= c %></th>
                                          <% end %>

                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% @all_customers.each do |s| %>
                                          <tr>
                                            <td><button class="btn btn-s-md btn-warning btn-rounded pull_system_setting_form" href="<%= admin_edit_customer_path(s) %>" style="min-width: 0px;width: 60px;">Edit</button></td>
                                            <td><%= link_to "Stripe", "https://dashboard.stripe.com/customers/#{s.stripe_customer_id}", target: "_blank", class:"btn btn-s-md btn-primary btn-rounded", style:"min-width: 0px;width: 60px;" %></td>
                                            <td><%= s.user.blank? ? "No" : (s.user.facebook_email.blank? ? "Yes" : "Yes - FB") %></td>
                                            <td><button class="btn btn-s-md btn-warning btn-rounded pull_system_setting_form" href="<%= resend_sign_up_link_form_path(s) %>" style="min-width: 0px;width: 60px;">Send</button></td>
                                            <td><%= s.formatted_request_queues %></td>
                                            <% @customer_column_names.each do |c| %>
                                              <td><%= s.send(c.to_sym) %></td>
                                            <% end %>
                                          </tr>
                                        <% end %>
                                      </tbody>
                                    </table>
                                  </div>
                                </div> 
                              </section>
                            </section>
                        </section>
                    </section> 
                    <section class="tab-pane" id="promotions" role="tabpanel">
                        <section class="vbox">
                            <section class="scrollable padder padder-v">
                              <% if flash[:notice_promotions] %>
                                <div class="row m-t-sm">
                                  <div class="col-sm-12">
                                    <div class="alert alert-<%= flash[:status] == "success" ? "success" : "danger" %>" style="margin-bottom:0 !important;">
                                      <%= flash[:notice_promotions] %>
                                    </div>
                                  </div>
                                </div>
                              <% end %>
                              <section class="row padder">
                                <div class="panel panel-default">
                                  <header class="panel-heading">
                                    Manage promotions
                                    <button class="btn btn-s-md btn-info btn-rounded pull_system_setting_form" href="<%= new_promotion_path %>">Create a new promotion</button>
                                  </header>
                                  <div class="table-responsive">
                                    <table id="system_setting" class="display table table-striped m-b-none" style="font-size: 12px">
                                      <thead>
                                        <tr>
                                          <th>ID</th>
                                          <th>Active?</th>
                                          <th>Amount (in cents)</th>
                                          <th>Date Promo Started</th>
                                          <th>Date Promo Ended</th>
                                          <th>Redeption Code</th>
                                          <th>Stripe Coupon ID</th>
                                          <th>Immediate Refund?</th>
                                          <th>New Customer Only?</th>
                                          <th>Number of Redeptions</th>
                                          <th>Edit</th>
                                          <th>Start/Stop Promotion</th>
                                          <th>Delete</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% @promotions.each do |p| %>
                                          <tr>
                                            <td><%= p.id %></td>
                                            <td><%= p.active %></td>
                                            <td><%= p.amount_in_cents %></td>
                                            <td><%= p.start_date.strftime("%Y-%m-%d") unless p.start_date.nil? %></td>
                                            <td><%= p.end_date.strftime("%Y-%m-%d") unless p.end_date.nil? %></td>
                                            <td><%= p.code %></td>
                                            <td><%= p.stripe_coupon_id %></td>
                                            <td><%= p.immediate_refund %></td>
                                            <td><%= p.new_customer_only %></td>
                                            <td><%= p.promotion_redemptions.length %></td>
                                            <td><button class="btn btn-s-md btn-warning btn-rounded pull_system_setting_form" href="<%= edit_promotion_path(p) %>" style="min-width: 0px;width: 60px;">Edit</button></td>
                                            <% @coupon_activate_button = p.active ? "Stop" : "Start" %>
                                            <td><%= link_to @coupon_activate_button, activate_promotion_path(p), method: :put, class: "btn btn-s-md btn-warning btn-rounded", style:"min-width: 0px;width: 60px;" %></td>
                                            <td><%= link_to "Delete", promotion_path(p), method: :delete, class: "btn btn-s-md btn-danger btn-rounded", style: "min-width: 0px;width: 60px;" %></td>
                                          </tr>
                                        <% end %>
                                      </tbody>
                                    </table>
                                  </div>
                                </div> 
                              </section>
                            </section>
                        </section>
                    </section> 
                    <section class="tab-pane" id="system_settings" role="tabpanel">
                        <section class="vbox">
                            <section class="scrollable padder padder-v">
                              <% if flash[:notice_system_settings] %>
                                <div class="row m-t-sm">
                                  <div class="col-sm-12">
                                    <div class="alert alert-<%= flash[:status] == "success" ? "success" : "danger" %>" style="margin-bottom:0 !important;">
                                      <%= flash[:notice_system_settings] %>
                                    </div>
                                  </div>
                                </div>
                              <% end %>
                              <section class="row padder">
                                <div class="panel panel-default">
                                  <header class="panel-heading">
                                    System Settings
                                    <button class="btn btn-s-md btn-info btn-rounded pull_system_setting_form" href="<%= new_system_setting_path %>">Create new</button>
                                    <button class="btn btn-s-md btn-info btn-rounded pull_system_setting_form" href="<%= new_announcement_path %>">Create announcement</button>
                                    <button class="btn btn-s-md btn-default btn-rounded pull_system_setting_form" href="<%= edit_start_date_path %>">Change sign-up date (currently <%= StartDate.first.start_date.strftime("%Y-%m-%d") %>)</button>
                                  </header>
                                  <div class="table-responsive">
                                    <table id="system_setting_table" class="display table table-striped m-b-none" style="font-size: 12px">
                                      <thead>
                                        <tr>
                                          <th>ID</th>
                                          <th>Setting</th>
                                          <th>Setting Attribute</th>
                                          <th>Setting Value</th>
                                          <th>Edit</th>
                                          <th>Delete</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% @system_settings.each do |s| %>
                                          <tr>
                                            <td><%= s.id %></td>
                                            <td><%= s.setting %></td>
                                            <td><%= s.setting_attribute %></td>
                                            <td><%=h truncate(s.setting_value, length: 100) %></td>
                                            <td><button class="btn btn-s-md btn-warning btn-rounded pull_system_setting_form" href="<%= edit_system_setting_path(s) %>">Edit</button></td>
                                            <td><%= link_to "Delete", system_setting_path(s), method: :delete, class: "btn btn-s-md btn-danger btn-rounded" %></td>
                                          </tr>
                                        <% end %>
                                      </tbody>
                                    </table>
                                  </div>
                                </div> 
                              </section>

                              <section class="row padder">
                                <div class="panel panel-default">
                                  <header class="panel-heading">
                                    Scheduled tasks
                                    <button class="btn btn-s-md btn-info btn-rounded pull_system_setting_form" href="<%= new_scheduled_task_path %>">Schedule new task</button>
                                  </header>
                                  <div class="table-responsive">
                                    <table id="scheduled_tasks" class="display table table-striped m-b-none" style="font-size: 12px">
                                      <thead>
                                        <tr>
                                          <th>ID</th>
                                          <th>Task name</th>
                                          <th>Day of week</th>
                                          <th>Hour of day</th>
                                          <th>Parameter 1</th>
                                          <th>Parameter 1 Type</th>
                                          <th>Parameter 2</th>
                                          <th>Parameter 2 Type</th>
                                          <th>Parameter 3</th>
                                          <th>Parameter 3 Type</th>
                                          <th>Last attempted run</th>
                                          <th>Last successful run</th>
                                          <th>Run now</th>
                                          <th>Edit</th>
                                          <th>Delete</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% @scheduled_tasks.each do |t| %>
                                          <tr>
                                            <td><%= t.id %></td>
                                            <td><%= t.task_name %></td>
                                            <td><%= t.day_of_week %></td>
                                            <td><%= t.hour_of_day %></td>
                                            <td><%= t.parameter_1 %></td>
                                            <td><%= t.parameter_1_type %></td>
                                            <td><%= t.parameter_2 %></td>
                                            <td><%= t.parameter_2_type %></td>
                                            <td><%= t.parameter_3 %></td>
                                            <td><%= t.parameter_3_type %></td>
                                            <td><%= t.last_attempt_date %></td>
                                            <td><%= t.last_successful_run %></td>
                                            <td><a class="btn btn-s-md btn-warning btn-rounded" href="<%= run_task_path(t) %>">Run now</a></td>
                                            <td><button class="btn btn-s-md btn-warning btn-rounded pull_system_setting_form" href="<%= edit_scheduled_task_path(t) %>">Edit</button></td>
                                            <td><%= link_to "Delete", scheduled_task_path(t), method: :delete, class: "btn btn-s-md btn-danger btn-rounded" %></td>
                                          </tr>
                                        <% end %>
                                      </tbody>
                                    </table>
                                  </div>
                                </div> 
                              </section>

                            </section>                            
                        </section>

                    </section> 
                </section>
            </section>
        
        </section>
    </section>
</section>

<!-- Form modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="cancelModal" aria-hidden="true" style="z-index: 10000;">
  <div class="modal-dialog">
      <div class="modal-content">
      </div>
  </div>
</div>
