
<script>

$(function(){

    //URL segment

      //retrieve
      var hash = (window.location.hash == "" || window.location.hash == "#_=_") ? "#dashboard" : window.location.hash;
      $('#main-nav li a[href='+hash+']').tab("show");
      $(".nav-main").find(".highlight").removeClass("highlight");
      $('#main-nav li a[href='+hash+']').parent().addClass("highlight");

      //navigation amongst the tabs
      $('#main-nav li a, .link_to_settings').off("click").on("click",function(){
        window.location.hash = $(this).attr("href");
        $(".nav-main").find(".highlight").removeClass("highlight");
        $(".nav-main").find('a[href="'+$(this).attr("href")+'"]').parent().addClass("highlight");
      });

      // data tables

       $('#missing_hub_info').DataTable({
        searching: false
       });

       $('#overdue_invoice').DataTable({
        searching: false
       });

       $('#deliveries').DataTable({
        searching: false
       });


      //collapse

      $('.meal_details_collapse_control').off("click").on("click",function(){
        if ($('.meals_details').hasClass("hidden")) {
          $('.meals_details').removeClass("hidden");
        } else {
          $('.meals_details').addClass("hidden");
        } 
      });

      //ajax

      function formRetrievalAjax() {
              $('.pull_system_setting_form').off("click").on("click",function(){
                $.ajax({
                  url: $(this).attr('href'),
                  type: 'GET',
                  dataType: 'html'
                }).done(function(data){
                  $('#formModal .modal-content').html(data);
                  $('#formModal').modal('toggle')
                });
              });
      };

      formRetrievalAjax();

       var system_setting_table = $('#system_setting').DataTable({
        searching: false,
        paging:false
       });

       system_setting_table.on('page', function () {
          formRetrievalAjax();
        } );

});

</script>


<section class="vbox">
    <header class="bg-black header header-md navbar-fixed-top-xs box-shadow">
        <div class="navbar-header aside-md">
            <a class="btn btn-link visible-xs m-t-sm" data-toggle="class:show" data-target=".nav-primary">
                      <i class="fa fa-bars"></i>
            </a>
            <%= image_tag "logo-light.png", width:"120px", alt: "Chowdy", class: "m-t-sm m-b-sm" %>
        </div>
      
    </header>    
    <section>
        <section class="hbox stretch">
            
            <aside class="bg-white aside-md hidden-print b-r" id="nav">
                <nav class="nav-primary hidden-xs padder-v tabbable">
                    <ul class="nav nav-main" data-ride="collapse" id="main-nav">
                        <li class="highlight">
                          <a href="#dashboard" class="auto b-b padder-v" data-toggle="tab">
                            <i class="i i-statistics icon">
                            </i>
                            <span class="font-bold">Dashboard</span>
                          </a>
                        </li>
                        <li>
                          <a href="#customers" class="b-b padder-v" data-toggle="tab">
                            <i class="i i-users2 icon">
                            </i>
                            <span class="font-bold">Customers</span>
                          </a>
                        </li>
                        <li>
                          <a href="#system_settings" class="b-b padder-v" data-toggle="tab">
                            <i class="i i-params icon">
                            </i>
                            <span class="font-bold">System Settings</span>
                          </a>
                        </li>
                        <li>
                          <%= link_to logout_path, class:"padder-v" do %>
                            <i class="fa fa-terminal">
                            </i>
                            <span class="font-bold">Log out</span>
                          <% end %>
                        </li>
                    </ul>
                </nav>
                
            </aside>


            <section id="content container">
                <section class="hbox stretch bg-light tab-content">
                    <section class="tab-pane active" id="dashboard" role="tabpanel">
                        <section class="vbox">
                            <section class="scrollable padder">
                              <section class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-default b-a m-t-md">
                                      <header class="panel-heading text-center">
                                        <div class="row">
                                          <div class="col-md-6">
                                            <span class="h2 block m-r-md text-primary"><%= @total_meals %></span>
                                            <small class="text-muted text-u-c">Current Week Total</small>
                                          </div>
                                          <div class="col-md-6">
                                            <span class="h2 block text-info"><%= @total_meals_next %></span>
                                            <small class="text-muted text-u-c">Next Week Total</small>
                                          </div>
                                        </div>
                                      </header>
                                        <div class="row m-n text-center">
                                            <div class="col-md-3">
                                                <section class="row b-b padder-v meal_details_collapse_control" style="cursor:pointer">
                                                    <div class="text-center text-primary">
                                                          <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @monday_regular %></span>
                                                          <small class="text-muted text-u-c">Monday Regular</small>
                                                    </div>  
                                                </section>
                                                <div class="meals_details hidden">
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @monday_regular_wandas %></span>
                                                            <small class="text-muted text-u-c">Wanda's</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @monday_regular_coffee_bar %></span>
                                                            <small class="text-muted text-u-c">Coffee Bar</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @monday_regular_dekefir %></span>
                                                            <small class="text-muted text-u-c">deKEFIR</small>
                                                      </div>  
                                                  </section>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <section class="row b-b padder-v meal_details_collapse_control" style="cursor:pointer">
                                                    <div class="text-center text-primary">
                                                          <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @monday_green %></span>
                                                          <small class="text-muted text-u-c">Monday Green</small>
                                                    </div>  
                                                </section>
                                                <div class="meals_details hidden">
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @monday_green_wandas %></span>
                                                            <small class="text-muted text-u-c">Wanda's</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @monday_green_coffee_bar %></span>
                                                            <small class="text-muted text-u-c">Coffee Bar</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @monday_green_dekefir %></span>
                                                            <small class="text-muted text-u-c">deKEFIR</small>
                                                      </div>  
                                                  </section>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <section class="row b-b padder-v meal_details_collapse_control" style="cursor:pointer">
                                                    <div class="text-center text-primary">
                                                          <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @thursday_regular %></span>
                                                          <small class="text-muted text-u-c">Thursday Regular</small>
                                                    </div>  
                                                </section>
                                                <div class="meals_details hidden">
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @thursday_regular_wandas %></span>
                                                            <small class="text-muted text-u-c">Wanda's</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @thursday_regular_coffee_bar %></span>
                                                            <small class="text-muted text-u-c">Coffee Bar</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @thursday_regular_dekefir %></span>
                                                            <small class="text-muted text-u-c">deKEFIR</small>
                                                      </div>  
                                                  </section>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <section class="row b-b padder-v meal_details_collapse_control" style="cursor:pointer">
                                                    <div class="text-center text-primary">
                                                          <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @thursday_green %></span>
                                                          <small class="text-muted text-u-c">Thursday Green</small>
                                                    </div>  
                                                </section>
                                                <div class="meals_details hidden">
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @thursday_green_wandas %></span>
                                                            <small class="text-muted text-u-c">Wanda's</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @thursday_green_coffee_bar %></span>
                                                            <small class="text-muted text-u-c">Coffee Bar</small>
                                                      </div>  
                                                  </section>
                                                  <section class="row m-b-md">
                                                      <div class="text-center text-muted">
                                                            <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @thursday_green_dekefir %></span>
                                                            <small class="text-muted text-u-c">deKEFIR</small>
                                                      </div>  
                                                  </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </section>
                              <% if @customers_with_missing_info.length > 0 %>
                                <section class="row padder">
                                  <div class="panel panel-default">
                                    <header class="panel-heading">
                                      Customers with Missing Hub Information
                                    </header>
                                    <div class="table-responsive">
                                      <table id="missing_hub_info" class="display table table-striped m-b-none" style="font-size: 12px">
                                        <thead>
                                          <tr>
                                            <th>Customer ID</th>
                                            <th>Customer Name</th>
                                            <th>Customer Email</th>
                                            <th>Selected Hub</th>
                                            <th>Monday Pick-up Hub</th>
                                            <th>Thursday Pick-up Hub</th>
                                            <th>Monday Delivery Hub</th>
                                            <th>Thursday Delivery Hub</th>
                                            <th>Delivery requested</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <% @customers_with_missing_info.each do |c| %>
                                            <tr>
                                              <td><%= c.id %></td>
                                              <td><%= c.name %></td>
                                              <td><%= c.email %></td>
                                              <td><%= c.hub %></td>
                                              <td><%= c.monday_pickup_hub %></td>
                                              <td><%= c.thursday_pickup_hub %></td>
                                              <td><%= c.monday_delivery_hub %></td>
                                              <td><%= c.thursday_delivery_hub %></td>
                                              <td><%= c.recurring_delivery %></td>
                                            </tr>
                                          <% end %>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div> 
                                </section>
                              <% end %>
                              <section class="row padder">
                                <div class="panel panel-default">
                                  <header class="panel-heading">
                                    Customers with overdue invoices
                                  </header>
                                  <div class="table-responsive">
                                    <table id="overdue_invoice" class="display table table-striped m-b-none" style="font-size: 12px">
                                      <thead>
                                        <tr>
                                          <th>Customerm ID</th>
                                          <th>Customer Name</th>
                                          <th>Customer Email</th>
                                          <th>Date Joined</th>
                                          <th>Invoice Number</th>
                                          <th>Invoice Date</th>
                                          <th>Number of Attempts</th>
                                          <th>Invoice Amount</th>
                                          <th>Last Attempt Date</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% @all_failed_invoices.each do |i| %>
                                          <tr>
                                            <th><%= i.customer.id %></th>
                                            <th><%= i.customer.name %></th>
                                            <th><%= i.customer.email %></th>
                                            <th><%= i.customer.created_at.strftime("%Y-%m-%d") %></th>
                                            <th><%= i.invoice_number %></th>
                                            <th><%= i.invoice_date %></th>
                                            <th><%= i.number_of_attempts %></th>
                                            <th>$<%= i.invoice_amount.to_f/100 %></th>
                                            <th><%= i.latest_attempt_date %></th>
                                          </tr>
                                        <% end %>
                                      </tbody>
                                    </table>
                                  </div>
                                </div> 
                              </section>

                              <section class="row padder">
                                <div class="panel panel-default">
                                  <header class="panel-heading">
                                    Customers with delivery request
                                  </header>
                                  <div class="table-responsive">
                                    <table id="deliveries" class="display table table-striped m-b-none" style="font-size: 12px">
                                      <thead>
                                        <tr>
                                          <th>Customerm ID</th>
                                          <th>Customer Name</th>
                                          <th>Customer Email</th>
                                          <th>Phone Number</th>
                                          <th>Address</th>
                                          <th>Selected Hub</th>
                                          <th>Monday Hub</th>
                                          <th>Thursday Hub</th>
                                          <th>Notes</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% @deliveries.each do |c| %>
                                          <tr>
                                            <th><%= c.id %></th>
                                            <th><%= c.name %></th>
                                            <th><%= c.email %></th>
                                            <th><%= c.phone_number %></th>
                                            <th><%= c.delivery_address %></th>
                                            <th><%= c.hub %></th>
                                            <th><%= c.monday_delivery_hub %></th>
                                            <th><%= c.thursday_delivery_hub %></th>
                                            <th><%= c.special_delivery_instructions %></th>
                                          </tr>
                                        <% end %>
                                      </tbody>
                                    </table>
                                  </div>
                                </div> 
                              </section>

                            </section>
                        </section>
                    </section>
                    
                    <section class="tab-pane" id="customers" role="tabpanel">
                        <section class="vbox">
                            <section class="scrollable padder">
                              Customers
                            </section>
                        </section>
                    </section> 
                    <section class="tab-pane" id="system_settings" role="tabpanel">
                        <section class="vbox">
                            <section class="scrollable padder padder-v">
                              <section class="row padder">
                                <div class="panel panel-default">
                                  <header class="panel-heading">
                                    System Settings
                                    <button class="btn btn-s-md btn-info btn-rounded pull_system_setting_form" href="<%= new_system_setting_path %>">Create new</button>
                                  </header>
                                  <div class="table-responsive">
                                    <table id="system_setting" class="display table table-striped m-b-none" style="font-size: 12px">
                                      <thead>
                                        <tr>
                                          <th>ID</th>
                                          <th>Setting</th>
                                          <th>Setting Attribute</th>
                                          <th>Setting Value</th>
                                          <th>Edit</th>
                                          <th>Delete</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% @system_settings.each do |s| %>
                                          <tr>
                                            <th><%= s.id %></th>
                                            <th><%= s.setting %></th>
                                            <th><%= s.setting_attribute %></th>
                                            <th><%= s.setting_value %></th>
                                            <th><button class="btn btn-s-md btn-warning btn-rounded pull_system_setting_form" href="<%= edit_system_setting_path(s) %>">Edit</button></th>
                                            <th><%= link_to "Delete", system_setting_path(s), method: :delete, class: "btn btn-s-md btn-danger btn-rounded" %></th>
                                          </tr>
                                        <% end %>
                                      </tbody>
                                    </table>
                                  </div>
                                </div> 
                              </section>
                            </section>
                        </section>
                    </section> 
                </section>
            </section>
        
        </section>
    </section>
</section>

<!-- Form modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="cancelModal" aria-hidden="true" style="z-index: 10000;">
  <div class="modal-dialog">
      <div class="modal-content">
      </div>
  </div>
</div>
