<script>
$("#fakeLoader").fakeLoader({
    timeToHide:30000, //Time in milliseconds for fakeLoader disappear
    zIndex:"999",//Default zIndex
    spinner:"spinner6",//Options: 'spinner1', 'spinner2', 'spinner3', 'spinner4', 'spinner5', 'spinner6', 'spinner7'
    bgColor:"#f2f4f8", //Hex, RGB or RGBA colors  
});

  
  var activeInputMealType = null;
  var activeInputMealID = null;
  var suggestionPath = '<%= pull_suggestion_path %>';
  var individualMealPullPath = '<%= pull_individual_detail_path %>';
  var copiedMenuNutritionalUpdate = '<%= copied_menu_nutritional_update_path %>'
  var autoSuggest; 

$(function(){
    $("#fakeLoader").fadeOut();

    //URL segment

      //retrieve
      var hash = (window.location.hash == "" || window.location.hash == "#_=_") ? "#menu" : window.location.hash;
      $('#main-nav li a[href='+hash+']').tab("show");
      $(".nav-main").find(".highlight").removeClass("highlight");
      $('#main-nav li a[href='+hash+']').parent().addClass("highlight");

      //navigation amongst the tabs
      $('#main-nav li a, .link_to_settings, #logo').off("click").on("click",function(){
        window.location.hash = $(this).attr("href");
        $(".nav-main").find(".highlight").removeClass("highlight");
        $(".nav-main").find('a[href="'+$(this).attr("href")+'"]').parent().addClass("highlight");
      });

      function loadRatingDetails() {
        $('.load_rating_details').off('click').on('click',function(){
          event.preventDefault();
          $.ajax({
            url: $(this).attr('href'),
            type: 'GET',
            dataType: 'JSON'
          }).done(function(data){
            $('#rating_details_table tbody').html('');
            data.forEach(function(e){
              $('#rating_details_table tbody').append('<tr><td>'+e.customer_name+'</td><td>'+e.rating+'</td><td>'+e.comment+'</td></tr>')
            });
            $('#ratingDetailsModal').modal();
          })
        });
      }

      function submitData() {
        $('.new_nutritional_info, .edit_nutritional_info').off('submit').on('submit',function(){
          event.preventDefault();
          $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            data: $(this).serialize(),
            dataType: 'JSON'
          }).done(function(data){
            if(data.result) {
              $('#formModal').modal('hide');
            } else {
              $('#formModal .modal-content .modal-body .alert').remove();
              $('#formModal .modal-content .modal-body').append("<div class='alert alert-danger'><p>"+data.errors+'</p></div>');
            }
          })
        });
      }

      function formRetrievalAjax() {
          $('.pull_modal').off("click").on("click",function(){
            event.preventDefault();
            $.ajax({
              url: $(this).attr('href'),
              type: 'GET',
              dataType: 'html'
            }).done(function(data){
              $('#formModal .modal-content').html(data);
              $('#formModal').modal({show:true});
              $("#formModal").animate({
                  scrollTop: 0
              }, 500);
              submitData();
            });
          });
      };

      var month_array = ["January","February","March","April","May","June","July","August","September","October","November","December"]

      function generate_menu_table() {
        var current_year = $('#year_select').val();
        var month = $('#month_select').val();
        var month_value = month_array.indexOf(month);
        var pull_url = '<%= menu_path("placeholder") %>'.replace("placeholder",month_value+1) + '?year='+current_year;
        var meal_types = ["Beef", "Pork", "Poultry", "Green 1", "Green 2","Salad Bowl 1", "Salad Bowl 2"]
        
        //pull data from the system
          $.ajax({
            url: pull_url,
            type: 'GET',
            dataType: 'JSON'
          }).done(function(data){
                // get the first and last dates of the month
                var first_of_month = new Date(current_year,month_value, 1);
                var last_of_month = new Date(current_year,month_value+1, 0);

                // iterate over the two dates to get an array of dates and weekday
                var wday_array = []
                for (var itdate = first_of_month; itdate <= last_of_month; itdate.setDate(itdate.getDate()+1)) {
                  wday_array.push([new Date(current_year,month_value,itdate.getDate()), itdate.getDay()]);
                }

                // return only Sundays and Wednesdays
                var production_days_array 
                production_days_array = wday_array.filter(function(e){
                  return (e[1] == 0) || (e[1] == 3);
                });
              
                // generate the menu table

                 Date.prototype.formatDate = function() {
                   var yyyy = current_year;
                   var mm = (this.getMonth()+1).toString(); // getMonth() is zero-based
                   var dd  = this.getDate().toString();
                   return yyyy +"-"+ (mm[1]?mm:"0"+mm[0]) +"-"+ (dd[1]?dd:"0"+dd[0]); // padding
                  };

                $('#menu_items tbody').append("<tr style='height:140px;'></tr>")
                production_days_array.forEach(function(element){
                  meal_types.forEach(function(e){

                      var d = new Date (element[0]);
                      var production_day_dom = d.formatDate();
                      var matched_result = data.filter(function(d){return (d.production_day == production_day_dom) && (d.meal_type == e)})

                      var id = matched_result.length == 1 ? matched_result[0].id : 0 ;
                      var meal_count = matched_result.length == 1 ? (matched_result[0].meal_count == null ? "" : matched_result[0].meal_count) : "" ;
                      var meal_name = matched_result.length == 1 ? matched_result[0].meal_name : "" ;
                      var protein = matched_result.length == 1 ? matched_result[0].protein : "" ;
                      var carb = matched_result.length == 1 ? matched_result[0].carb : "" ;
                      var veggie = matched_result.length == 1 ? matched_result[0].veggie : "" ;
                      var extra = matched_result.length == 1 ? matched_result[0].extra : "" ;
                      var notes = matched_result.length == 1 ? matched_result[0].notes : "" ;
                      var no_microwave = matched_result.length == 1 ? matched_result[0].no_microwave : false ;
                      var no_microwave_check = no_microwave ? "checked" : "";
                      var average_score = matched_result.length == 1 ? (matched_result[0].average_score == null ? "" : matched_result[0].average_score) : "" ;
                      var number_of_scores = matched_result.length == 1 ? (matched_result[0].number_of_scores == null ? "" : matched_result[0].number_of_scores) : "" ;

                      $('#menu_items tbody').append("<tr class='hasData' data-id='"+id+"' data-type='"+e+"'><td class='disable_editable c1'>"+production_day_dom+"</td><td class='disable_editable c9'>"+e+"</td><td class='c9'>"+meal_count+"</td><td class='c3 meal_name'>"+meal_name+"</td><td class='c4'>"+protein+"</td><td class='c5'>"+carb+"</td><td class='c6'>"+veggie+"</td><td class='c7'>"+extra+"</td><td class='c8'>"+notes+"</td><td class='disable_editable c9'><input type='checkbox' "+no_microwave_check+"></td><td class='disable_editable c9'><a href='/menu/"+id+"/edit_nutritional_info' class='pull_modal'>edit</a></td><td class='disable_editable c10'><a href='/menu/"+id+"/pull_rating_details' class='load_rating_details' style='font-size: large'>"+average_score+"</a></td><td class='disable_editable c11' style='font-size: large'>"+number_of_scores+"</td></tr>")
                    
                    });
                    $('#menu_items tbody').append("<tr><td colspan='13' style='height:1px; background-color:white;' class='disable_editable'></td></tr>")
                });

                $('#menu_items').editableTableWidget();

                $('#menu_items thead').width($('#menu_items').width());

                $('#menu_items td').on('change', function() {
                  $('#change_notification').removeClass("hidden");
                  $('#update_menu').html("Save changes").removeClass("disabled");

                });

                loadRatingDetails();
                formRetrievalAjax();
          });

        }

        generate_menu_table();
        
        function submit_menu_table_value() {
          var output_json = [];
          $('#menu_items tbody').children().filter(function(c){return $(this).hasClass("hasData")}).each(function(index){
            output_json.push({production_day:$(this).children().eq(0).html(), meal_type:$(this).children().eq(1).html(),meal_count:$(this).children().eq(2).html(), meal_name:$(this).children().eq(3).html(), protein:$(this).children().eq(4).html(), carb:$(this).children().eq(5).html(), veggie:$(this).children().eq(6).html(), extra:$(this).children().eq(7).html(), notes:$(this).children().eq(8).html(), no_microwave:$(this).children().eq(9).children().eq(0).is(':checked')})
          });

            $.ajax({
              url: '<%= menu_path("all") %>',
              type: 'PUT',
              dataType: 'JSON',
              contentType: 'application/json',
              data: JSON.stringify({"data": output_json})
            }).done(function(data){
              if (data.result ) {
                $('#change_notification').addClass("hidden");
                $('#update_menu').html("Changes saved").addClass("disabled");
              } else {
                $('#submitErrorModal .modal-body').html(data.errors);
                $('#submitErrorModal').modal();
              }
            });

        }

        $('#update_menu').off('click').on('click',function(){
          submit_menu_table_value();
        });

        $('#month_select,#year_select').off('change').on('change',function(){
          submit_menu_table_value();
          $('#menu_items tbody').empty();
          generate_menu_table();
        })

        $( window ).resize(function() {
            $('#menu_items thead').width($('#menu_items').width());
        });

});

</script>

<section class="vbox">
    <header class="bg-black header header-md navbar-fixed-top-xs box-shadow">
        <div class="navbar-header aside-md">
            <a class="btn btn-link visible-xs m-t-sm" data-toggle="class:nav-off-screen" data-target="#nav">
                      <i class="fa fa-bars"></i>
            </a>
            <a href="#menu" data-toggle="tab" id="logo">
              <%= image_tag "logo-light.png", width:"120px", alt: "Chowdy", class: "m-t-md m-b-sm" %>
            </a>
        </div>
      
    </header>    
    <section>
        <section class="hbox stretch">
            
            <aside class="bg-white aside-md hidden-print b-r" id="nav">
                <nav class="nav-primary hidden-xs padder-v tabbable">
                    <div class="visible-xs" style="height: 65px;"></div>
                    <ul class="nav nav-main" data-ride="collapse" id="main-nav">
                        <li class="highlight">
                          <a href="#menu" class="auto b-b padder-v" data-toggle="tab">
                            <i class="i i-statistics icon">
                            </i>
                            <span class="font-bold">Menu</span>
                          </a>
                        </li>
                        <li>
                          <%= link_to logout_path, class:"padder-v" do %>
                            <i class="fa fa-terminal">
                            </i>
                            <span class="font-bold">Log out</span>
                          <% end %>
                        </li>
                    </ul>

                </nav>
                
            </aside>


            <section id="content container">
                <section class="hbox stretch bg-light tab-content">
                    <section class="tab-pane active" id="menu" role="tabpanel">
                        <section class="vbox">
                            <section class="scrollable padder">
                              <div style="position:fixed; height: 100px; display: block; width: 80%; background-color: #f2f4f8;">
   
                                <div class="row">
                                  <div class="col-sm-2">
                                    <div class="row m-t-md">
                                      <div class="col-sm-12">
                                      <%= label_tag :year_select, "Choose Year" %>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-sm-12">
                                        <div class="form-group">
                                          <%= select_tag :year_select, options_for_select([2015,2016], Date.today.strftime("%Y")), class:"form-control"  %>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-sm-9">
                                      <div class="row m-t-md">
                                        <div class="col-sm-3">
                                          <%= label_tag :month_select, "Choose Month" %>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-sm-3">
                                          <div class="form-group">
                                            <%= select_tag :month_select, options_for_select(["January","February","March","April","May","June","July","August","September","October","November","December"], Date.today.strftime("%B")), class:"form-control"  %>
                                          </div>
                                        </div>
                                        <div class="col-sm-2">
                                          <button class="btn btn-s-md btn-primary btn-rounded disabled" id="update_menu">Changes saved</button>
                                        </div>
                                        <div class="col-sm-4">
                                          <div id="change_notification" class="alert alert-warning alert-block text-center hidden" style="height:34px; padding-top:8px; left:0px; bottom: 0px;">
                                            
                                            You have unsaved changes
                                          </div>
                                        </div>
                                      </div>
                                  </div>
                                </div>
                              </div>
    
                              <table id="menu_items" class="display table table-striped m-b-none" style="font-size: 12px;">
                                <thead style="position:fixed; background-color: #f2f4f8; top:150px;">
                                  <tr>
                                    <th class="c1 text-center">Production Date</th>
                                    <th class="c9 text-center">Meal Type</th>
                                    <th class="c9 text-center">#</th>
                                    <th class="c3 text-center">Meal Name</th>
                                    <th class="c4 text-center">Protein</th>
                                    <th class="c5 text-center">Carbs</th>
                                    <th class="c6 text-center">Veggies</th>
                                    <th class="c7 text-center">Extra/Garnish</th>
                                    <th class="c8 text-center">Additional Notes</th>
                                    <th class="c9 text-center">Don't Microwave?</th>
                                    <th class="c9 text-center">Nutri Info</th>
                                    <th class="c10 text-center">Rating</th>
                                    <th class="c11 text-center"># Rated</th>
                                  </tr>
                                </thead>
                                <tbody>
                                </tbody>
                              </table>
                            </section>
                        </section>
                    </section> 
                </section>
            </section>
        
        </section>
    </section>
</section>


<!-- Submit error modal -->
<div class="modal fade" id="submitErrorModal" tabindex="-1" role="dialog" aria-labelledby="submitErrorModal" aria-hidden="true" style="z-index: 10000;">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Error</h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

<!-- Meal suggestion box -->
<div id="meal_suggestion" class="hidden" style="position:absolute; width:500px; background-color:white; max-height: 300px; overflow-y: scroll; -webkit-box-shadow: -5px 9px 24px -2px rgba(0,0,0,0.41); -moz-box-shadow: -5px 9px 24px -2px rgba(0,0,0,0.41); box-shadow: -5px 9px 24px -2px rgba(0,0,0,0.41);">

</div>


<!-- Rating details modal -->
<div class="modal fade" id="ratingDetailsModal" tabindex="-1" role="dialog" aria-labelledby="ratingDetailsModal" aria-hidden="true" style="z-index: 10000;">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Rating details</h4>
          </div>
          <div class="modal-body">
            <table id="rating_details_table" class="display table table-striped m-b-none" style="font-size: 12px;">
              <thead>
                <tr>
                  <th >Customer</th>
                  <th >Rating</th>
                  <th >Comment</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>


<!-- Form modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="cancelModal" aria-hidden="true" style="z-index: 10000;">
  <div class="modal-dialog">
      <div class="modal-content">
      </div>
  </div>
</div>