
<script>

$(function(){

    function create_hub_map () {

      map = new GMaps({
        div: '#hub_map',
        lat: 43.7,
        lng: 79.4
      });

      var addresses_to_display = <%= raw @address_to_show_on_dashboard.to_json %>

      var latlngbounds = new google.maps.LatLngBounds();

      addresses_to_display.forEach(function(a){
        GMaps.geocode({
          address: a.location+', Toronto',
          callback: function(results, status) {
            if (status == 'OK') {
              var latlng = results[0].geometry.location;
              latlngbounds.extend(latlng);
              map.setCenter(latlng.lat(), latlng.lng());
              var marker = map.addMarker({
                          lat: latlng.lat(),
                          lng: latlng.lng()
                        });
              <% if @show_pick_up_info_window %>
              var infowindow = new google.maps.InfoWindow({
                                    content: '<p>Hub hours: '+a.hours
                                });
              infowindow.open(map,marker);
              <% end %>
            }
          }
        });
      });

      var isDraggable = $(document).width() > 800 ? true : false; // If 

      map.setOptions({
        draggable: isDraggable,
        scrollwheel: false
      });
      map.setZoom(13);
      map.panToBounds(latlngbounds);

    };

    create_hub_map();

    //URL segment

      //retrieve
      var hash = (window.location.hash == "" || window.location.hash == "#_=_") ? "#dashboard" : window.location.hash;
      $('#main-nav a[href='+hash+']').tab("show");
      $(".nav-main").find(".highlight").removeClass("highlight");
      $('#main-nav li a[href='+hash+']').parent().addClass("highlight");

      //navigation amongst the tabs
      $('#main-nav a, .link_to_settings, #logo').off("click").on("click",function(){
        window.location.hash = $(this).attr("href");
        $(".nav-main").find(".highlight").removeClass("highlight");
        $(".nav-main").find('a[href="'+$(this).attr("href")+'"]').parent().addClass("highlight");
      });

    //check for unpaid invoices before allowing to resume
    var unpaid_invoices = <%= @number_of_failed_invoices %>
    if (unpaid_invoices > 0) {
      $('#resume_subscription_button').addClass("disabled");
      $('#subscription_change_alert').removeClass("hidden");
    };

    // star rating

    $('.star_rating').raty({
      click: function() {
        $(this).parent().children('.submit_meal_rating').html("Submit rating");
        $(this).parent().children('.submit_meal_rating').removeClass('disabled');
      }
    });

    // submit rating

    $('.submit_meal_rating').off('click').on('click',function(){
      var comment = $(this).parent().parent().find('textarea').val();
      var rating = $(this).parent().parent().find('.star_rating').raty('score');
      var menu_id = $(this).parent().parent().find('#menu_id').val();

      _this = $(this);

      $.ajax({
        url: '<%= submit_meal_rating_path %>',
        type: 'POST',
        dataType: 'JSON',
        data: {comment:comment, rating:rating, menu_id:menu_id}
      }).done(function(data){
        if (data.result) {
          _this.addClass("disabled");
          _this.html("Rating saved");
        } else {
          alert("Rating could not be saved; "+data.message)
        }
      })

    });

    // check delivery 
    $('#delivery_request_form input').off("change").on("change", function(){
      $("#delivery_change_warning").removeClass("hidden");
    });

    $('#delivery_request_form input').off("focusout").on("focusout",function(e){
        GMaps.geocode({
          address: $('#delivery_request_form #delivery_address').val()+", Toronto",
          callback: function(results, status) {
            if (status == 'OK') {
              if (results.length > 1) {
                var result_array = results.map(function(result){
                    return result.formatted_address+"<br>"
                  });
              $('#address_match_warning strong').html("We found multiple matching locations. <i>Did you mean:</i><br>"+result_array.join(" "));
              $('#address_match_warning').removeClass("hidden");
              $("#delivery_request_form input:submit").addClass("disabled");
              } else {
                if (results[0].geometry.location_type == "APPROXIMATE") {
                  $('#address_match_warning strong').html("We could not locate your address. Please be more specific.");
                  $('#address_match_warning').removeClass("hidden");
                  $("#delivery_request_form input:submit").addClass("disabled");
                } else {
                var latlng = results[0].geometry.location;
                  if (contains_location(latlng)=="downtown") {
                    $('#address_match_warning strong').html("Note that the default delivery time is every <span class='text-danger-lt'>Monday and Thursday between 11am and noon</span> unless otherwise requested below.<br><br>If our courier cannot drop off the meals, they will return them to the hub, where you are welcome to pick up the meals yourself");
                    $('#address_match_warning').removeClass("hidden");
                    $("label[for='note']").html("Additional note (we cannot deliver after 5pm)")
                    $('#boundary').val("downtown");
                    if ($("#delivery_request_form #phone_number").val() != "" ){
                      $("#delivery_request_form input:submit").removeClass("disabled");
                    }
                  } else if (contains_location(latlng)=="gta") {
                    $('#boundary').val("GTA");
                    $('#address_match_warning strong').html("Your meals will be delivered between <span class='text-danger-lt'>8am and 2pm every Monday and Thursday in a thermal insulated bag</span>. Our couriers will call you when they arrive");
                    $("label[for='note']").html("Additional note")
                    $('#address_match_warning').removeClass("hidden");
                    if ($("#delivery_request_form #phone_number").val() != "" ){
                      $("#delivery_request_form input:submit").removeClass("disabled");
                    }
                  } else {
                    $('#address_match_warning strong').html("Your location is outside of our delivery zone");
                    $('#address_match_warning').removeClass("hidden");
                    $("#delivery_request_form input:submit").addClass("disabled");                    
                  }
                }
              }
            } else {
              $('#address_match_warning strong').html("Uh oh, something went wrong")
            }
          }
        });

    });

    function contains_location(loc) {

      var gmaps_boundary_path = []
      var coordinates = <%= raw @delivery_boundary_coordinates %>
      var gmaps_boundary_path_gta = []
      var coordinates_gta = <%= raw @delivery_boundary_coordinates_gta %>

      coordinates.forEach(function(coordinate){
        gmaps_boundary_path.push(new google.maps.LatLng(coordinate.lat, coordinate.lng))
      });
      var delivery_boundary_polygon = new google.maps.Polygon({
        paths: gmaps_boundary_path
      });

      coordinates_gta.forEach(function(coordinate){
        gmaps_boundary_path_gta.push(new google.maps.LatLng(coordinate.lat, coordinate.lng))
      });
      var delivery_boundary_polygon_gta = new google.maps.Polygon({
        paths: gmaps_boundary_path_gta
      });

      if (google.maps.geometry.poly.containsLocation(loc, delivery_boundary_polygon)) {
        return 'downtown'
      } else if (google.maps.geometry.poly.containsLocation(loc, delivery_boundary_polygon_gta)) {
        return 'gta'
      } else {
        return false
      }
    }


    // date picker

    var earliest_resume_date = new Date(<%= @earliest_pause_end_date.year %>,<%= @earliest_pause_end_date.month.to_i - 1 %>,<%= @earliest_pause_end_date.day %>,0,0,0,0)

    var pauseEndDate = $('#pause_date_picker').datepicker({
      format: "yyyy-mm-dd",
      onRender: function(date) {
        return date.valueOf() < earliest_resume_date.valueOf() ? 'disabled' : '';
      }
    }).on('changeDate', function() {
        pauseDateValidate();
        $('#pause_date_picker').datepicker('hide');
      });

    $('#pause_date_picker').datepicker('setValue', earliest_resume_date)


    // pause date validation
    // function pauseDateValidate() {
    
    $('#pause_date_picker').off("input").on("input",pauseDateValidate);
    // }

    function pauseDateValidate() {
      userSelectedDate = new Date($('#pause_date_picker').val().split("-")[0],$('#pause_date_picker').val().split("-")[1]-1,$('#pause_date_picker').val().split("-")[2]);
      if (userSelectedDate.valueOf() < earliest_resume_date.valueOf()) {
        $("#pauseModal form input:submit").prop("disabled",true);
      } else {
        $("#pauseModal form input:submit").prop("disabled",false); 
      }
    };

    pauseDateValidate();



    // checkboxes for meal preferences
    var disable_sub_update = <%= @disable_sub_update %>;

    $('#no_beef, #no_pork, #no_poultry').off("change").on("change",function(){
      $('#subscription_change_warning').removeClass("hidden");
      if (disable_sub_update == false) {
          $('#change_meal_count input[type=submit]').removeClass("disabled");
        }
    });

    // spinner

    var total_meal_number = <%= @total_meals %>
    var updated_total_meal_number = total_meal_number
    var total_green = <%= @total_green %>
    var updated_green= total_green
                                                    
    $('#total_meals_spinner').TouchSpin({
      min: 6,
      max: 14,
      step: 2
    });

      
    $('#green_meals_spinner').TouchSpin({
        min: 0,
        max: updated_total_meal_number,
        step: 1
    });

    

    if (disable_sub_update == false) {

      $('#total_meals_spinner').off("change").on("change", function(){
        
        $('#subscription_change_warning').removeClass("hidden");

        if (disable_sub_update == false) {
          $('#change_meal_count input[type=submit]').removeClass("disabled");
        }

        var updated_value = $(this).val();


        if (updated_value - updated_green < 0) { 
            $('#monday_grn_hidden').val(updated_value/2);
            $('#thursday_grn_hidden').val(updated_value/2);
            updated_green = updated_value;          
            $('#monday_reg_hidden').val(0);
            $('#thursday_reg_hidden').val(0);  
            updated_total_meal_number = updated_value;
            $('#green_meals_spinner').val(updated_green);
            $('#green_meals_spinner').trigger("touchspin.updatesettings", {max: updated_total_meal_number});
         } else {
            var regular_meals = updated_value - updated_green
            if (regular_meals % 2 == 0) {
              $('#monday_reg_hidden').val(regular_meals/2);
              $('#thursday_reg_hidden').val(regular_meals/2);            
            } else {
              $('#monday_reg_hidden').val(regular_meals/2 - 0.5);
              $('#thursday_reg_hidden').val(regular_meals/2 + 0.5); 
            };
            updated_total_meal_number = updated_value;
            $('#green_meals_spinner').val(updated_green);
            $('#green_meals_spinner').trigger("touchspin.updatesettings", {max: updated_total_meal_number});
         }
         updateVisibleNumbers();
      });
                

      $('#green_meals_spinner').off("change").on("change",function(){
          $('#subscription_change_warning').removeClass("hidden");
          if (disable_sub_update == false) {
            $('#change_meal_count input[type=submit]').removeClass("disabled");
          }

          var updated_value = $(this).val();
          var daily_difference_low;
          var daily_difference_high;
          var updated_mon_reg;
          var updated_thu_reg;
          if ((updated_value - total_green) % 2 == 0) {
            daily_difference_low = (updated_value - total_green)/2;
            daily_difference_high = (updated_value - total_green)/2;
            updated_mon_grn = <%= @monday_green %> + daily_difference_low;
            updated_thu_grn = <%= @thursday_green %> + daily_difference_high;
            $('#monday_grn_hidden').val(updated_mon_grn);
            $('#thursday_grn_hidden').val(updated_thu_grn);
            updated_green = updated_value;
            post_green_total_reg_meals = updated_total_meal_number - updated_value;
            if (post_green_total_reg_meals % 2 == 0) {
              $('#monday_reg_hidden').val(post_green_total_reg_meals/2);
              $('#thursday_reg_hidden').val(post_green_total_reg_meals/2);
            } else {
              $('#monday_reg_hidden').val(post_green_total_reg_meals/2-0.5);
              $('#thursday_reg_hidden').val(post_green_total_reg_meals/2+0.5);
            };

          } else {
            daily_difference_low = (updated_value - total_green)/2 - 0.5;
            daily_difference_high = (updated_value - total_green)/2 + 0.5;
            updated_mon_grn = <%= @monday_green %> + daily_difference_low;
            updated_thu_grn = <%= @thursday_green %> + daily_difference_high;
            $('#monday_grn_hidden').val(updated_mon_grn);
            $('#thursday_grn_hidden').val(updated_thu_grn);
            updated_green = updated_value;
            post_green_total_reg_meals = updated_total_meal_number - updated_value;
            if (post_green_total_reg_meals % 2 == 0) {
              $('#monday_reg_hidden').val(post_green_total_reg_meals/2);
              $('#thursday_reg_hidden').val(post_green_total_reg_meals/2);
            } else {
              $('#monday_reg_hidden').val(post_green_total_reg_meals/2-0.5);
              $('#thursday_reg_hidden').val(post_green_total_reg_meals/2+0.5);
            };
          };
          updateVisibleNumbers();
        });
      
      };

    function updateVisibleNumbers() {
      $('#disp_reg').html(parseInt($('#monday_reg_hidden').val())+parseInt($('#monday_grn_hidden').val())+parseInt($('#thursday_reg_hidden').val())+parseInt($('#thursday_grn_hidden').val()));
      $('#disp_grn').html(parseInt($('#monday_grn_hidden').val())+parseInt($('#thursday_grn_hidden').val()));
    };
});

</script>


<section class="vbox">
    <header class="bg-black header header-md navbar-fixed-top-xs box-shadow">
        <div class="navbar-header aside-md">
            <a class="btn btn-link visible-xs m-t-sm" data-toggle="class:nav-off-screen" data-target="#nav">
                      <i class="fa fa-bars"></i>
            </a>
            <a href="#dashboard" data-toggle="tab" id="logo">
              <%= image_tag "logo-light.png", width:"120px", alt: "Chowdy", class: "m-t-sm m-b-sm" %>
            </a>
        </div>
      
    </header>    
    <section>
        <section class="hbox stretch">
            
            <aside class="bg-white aside-md hidden-print b-r" id="nav">
                <nav class="nav-primary hidden-xs padder-v tabbable">
                    <div class="visible-xs" style="height: 65px;"></div>
                    <ul class="nav nav-main" data-ride="collapse" id="main-nav">
                        <li class="highlight">
                          <a href="#dashboard" class="auto b-b padder-v" data-toggle="tab">
                            <i class="i i-statistics icon">
                            </i>
                            <span class="font-bold">Dashboard</span>
                          </a>
                        </li>
                        <li>
                          <a href="#changePlan" class="b-b padder-v" data-toggle="tab">
                            <i class="i i-params icon">
                            </i>
                            <span class="font-bold">Change Subscription</span>
                          </a>
                        </li>
                        <li>
                          <a href="#referral" class="b-b padder-v"  data-toggle="tab">
                            <i class="i i-users2 icon">
                            </i>
                            <span class="font-bold">Referral and Promo</span>
                          </a>
                        </li>
                        <li>
                          <a href="#delivery" class="b-b padder-v"  data-toggle="tab">
                            <i class="i i-paperplane icon">
                            </i>
                            <span class="font-bold">Delivery</span>
                          </a>
                        </li>
                        <li>
                          <a href="#settings" class="b-b padder-v" data-toggle="tab">
                            <i class="i i-settings icon">
                            </i>
                            <span class="font-bold">Settings</span>
                          </a>
                        </li>
                        <li>
                          <%= link_to logout_path, class:"padder-v" do %>
                            <i class="fa fa-terminal">
                            </i>
                            <span class="font-bold">Log out</span>
                          <% end %>
                        </li>
                        <div class="text-center m-t-xl">For technical issues please email<br><a href="mailto:help@chowdy.ca" class="text-primary">help@chowdy.ca</a></div>
                        <a href="#rate_menu"  data-toggle="tab">
                          <div class="btn btn-s-md btn-info m-t-lg m-l-md" style="width: 82%;">
                            <i class="fa fa-star">
                            </i>&nbsp;&nbsp;&nbsp;&nbsp;
                            Rate the meals
                          </div>
                        </a>
                    </ul>
                </nav>
                
            </aside>


            <section id="content container">
                <section class="hbox stretch bg-light tab-content">
                    <section class="tab-pane active" id="dashboard" role="tabpanel">
                        <section class="vbox">
                            <section class="scrollable padder">
                                <% if @number_of_failed_invoices > 0 %>
                                  <section class="row m-t-md">
                                    <div class="col-sm-12">
                                      <div class="alert alert-danger" style="margin-bottom:0 !important;">
                                        <i class="fa fa-ban-circle"></i>You have <strong><%= @number_of_failed_invoices %> overdue invoice </strong><%= "s" if @number_of_failed_invoices > 1 %> for the week<%= "s" if @number_of_failed_invoices > 1 %> of <%= @failed_weeks.to_sentence %> due to declined credit card. We will re-attempt in a few days. You can also<a href="#settings" data-toggle="tab" class="link_to_settings"> update your card</a> on your profile.
                                      </div>
                                    </div>
                                  </section>
                                <% end %>

                                <% unless @announcements.blank? %>
                                  <% @announcements.each do |announcement| %>
                                    <section class="row m-t-md">
                                      <div class="col-sm-12">
                                        <div class="alert alert-success" style="margin-bottom:0 !important;">
                                          <button type="button" class="close" data-dismiss="alert">×</button>
                                          <%= announcement.setting_value %>
                                        </div>
                                      </div>
                                    </section>
                                  <% end %>
                                <% end %>
                                
                                <% if @current_customer.recurring_delivery.blank? %>
                                  <% if @current_customer.hub.scan(/delivery/i).length == 1 && @requested_hub_to_change_to.blank? %>
                                    <% if @current_customer.delivery_address.blank?  %>
                                      <section class="row m-t-md">
                                        <div class="col-sm-12">
                                          <div class="alert alert-warning" style="margin-bottom:0 !important;">
                                            <i class="fa fa-ban-circle"></i>Please<a href="#delivery" data-toggle="tab" class="link_to_settings"> enter your delivery address</a> in the delivery tab.
                                          </div>
                                        </div>
                                      </section>                                      
                                    <% else %>
                                      <section class="row m-t-md">
                                        <div class="col-sm-12">
                                          <div class="alert alert-warning" style="margin-bottom:0 !important;">
                                            <i class="fa fa-ban-circle"></i>Please choose a pick-up hub.
                                          </div>
                                        </div>
                                      </section> 
                                    <% end %>                                  
                                  <% end %>
                                <% end %>
                                <% unless @sub_status.blank? %>
                                  <section class="row m-t-md">
                                    <div class="col-sm-12">
                                      <div class="alert alert-success" style="margin-bottom:0 !important;">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <%= @sub_status %>
                                      </div>
                                    </div>
                                  </section>
                                <% end %>
                                <section class="row m-b-md">
                                    <div class="col-sm-12">
                                        <h3 class="m-b-xs text-muted text-center">
                                    Welcome <%= @current_customer.name.split(/\s/)[0].capitalize %>! Your account is <span class="<%= @current_status_color %>"><%= @current_status %></span>
                                        </h3>
                                    </div>
                                </section>
                                <section class="row">
                                    <div class="col-sm-12">
                                        <div class="panel b-a">
                                            <div class="row m-n text-center">
                                                <div class="col-md-4">
                                                    <section class="row m-t-md m-b-md">
                                                      <div class="block padder-v hover">
                                                        <div class="col-md-4 col-md-offset-1 text-success-lt text-right">
                                                          <span class="i-s i-s-2x pull-left m-r-sm" >
                                                              <i class="i i-hexagon2 i-s-base text-changer hover-rotate"></i>
                                                              <i class="i i-plus2 i-1x text-white"></i>
                                                          </span>
                                                        </div>
                                                        <div class="col-md-7 text-left text-success-lt" style="margin-top: -25px; margin-left: -10px; padding-left: 0px;">
                                                              <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @current_customer.total_meals_per_week %></span>
                                                              <small class="text-muted text-u-c">Weekly meals</small>
                                                        </div>  
                                                      </div>
                                                    </section>
                                                </div>
                                                <div class="col-md-4">
                                                    <section class="row m-t-md m-b-md">
                                                      <div class="block padder-v hover">
                                                        <div class="col-md-4 col-md-offset-1 text-primary-lt text-right">
                                                          <span class="i-s i-s-2x pull-left m-r-sm" >
                                                              <i class="i i-hexagon2 i-s-base text-changer hover-rotate"></i>
                                                              <i class="i i-alarm i-1x text-white"></i>
                                                          </span>
                                                        </div>
                                                        <div class="col-md-7 text-left text-primary-lt" style="margin-top: -25px; margin-left: -10px; padding-left: 0px;">
                                                              <span class="h4 block" style="height: 33px; margin-top: 30px; margin-bottom: 0px;"><%= @current_customer.next_pick_up_date.blank? ? "-" : @current_customer.next_pick_up_date.strftime("%b #{@current_customer.next_pick_up_date.day.ordinalize}") + " - " + (@current_customer.next_pick_up_date + 5.days).strftime("%b #{(@current_customer.next_pick_up_date + 5.days).day.ordinalize}") %></span>
                                                              <small class="text-muted text-u-c"><%= @current_pick_up_window_caption %></small>
                                                        </div>  
                                                      </div>
                                                    </section>
                                                </div>
                                                <div class="col-md-4">
                                                    <section class="row m-t-md m-b-md">
                                                      <div class="block padder-v hover">
                                                        <div class="col-md-4 col-md-offset-1 text-info-lt text-right">
                                                          <span class="i-s i-s-2x pull-left m-r-sm" >
                                                              <i class="i i-hexagon2 i-s-base text-changer hover-rotate"></i>
                                                              <i class="i i-alarm i-1x text-white"></i>
                                                          </span>
                                                        </div>
                                                        <div class="col-md-7 text-left text-info-lt" style="margin-top: -25px; margin-left: -10px; padding-left: 0px;">
                                                              <span class="h2 block" style="height: 33px; margin-top: 20px; margin-bottom: 10px;"><%= @next_billing_date.blank? ? "-" : @next_billing_date.strftime("%b #{@next_billing_date.day.ordinalize}") %></span>
                                                              <small class="text-muted text-u-c">Next billing</small>
                                                        </div>  
                                                      </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="row m-b-md">
                                    <div class="col-sm-12">
                                        <h3 class="m-b-xs text-muted text-center">
                                          <% if @current_customer.recurring_delivery.blank? %>
                                            <% if @current_customer.monday_pickup_hub.blank? && @current_customer.stop_queues.where(stop_type: "change_hub").length == 0 %>
                                              <% if @current_customer.delivery_address.blank? %>
                                                Delivery requested
                                              <% else %>
                                                No pick-up hub selected
                                              <% end %>
                                            <% else %>
                                              Pick up at <%= @pick_up_text %>
                                            <% end %>
                                          <% else %>
                                            Delivery to <%= @current_customer.delivery_address %>
                                          <% end %>
                                        </h3>
                                    </div>
                                </section>
                                <section class="row">
                                  <section id="hub_map" class="wrapper"style="min-height: 350px; position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);"></section>
                                </section>
                            </section>
                        </section>
                    </section>
                    
                    <section class="tab-pane" id="changePlan" role="tabpanel">
                        <section class="vbox">
                            <section class="scrollable padder">
                              <% if @number_of_failed_invoices > 0 %>
                                <section class="row m-t-xs">
                                  <div class="col-sm-12">
                                    <div class="alert alert-danger" style="margin-bottom:0 !important;">
                                      <i class="fa fa-ban-circle"></i>You have <strong><%= @number_of_failed_invoices %> overdue invoice </strong><%= "s" if @number_of_failed_invoices > 1 %> for the week<%= "s" if @number_of_failed_invoices > 1 %> of <%= @failed_weeks.to_sentence %> due to declined credit card. We will re-attempt in a few days. You can also<a href="#settings" data-toggle="tab" class="link_to_settings"> update your card</a> on your profile.
                                    </div>
                                  </div>
                                </section>
                              <% end %>
                              <% unless @sub_status.blank? %>
                                <section class="row m-t-md">
                                  <div class="col-sm-12">
                                    <div class="alert alert-success" style="margin-bottom:0 !important;">
                                      <button type="button" class="close" data-dismiss="alert">×</button>
                                      <%= @sub_status %>
                                    </div>
                                  </div>
                                </section>
                              <% end %>
                                <section class="row m-b-xs m-t-md">
                                    <div class="col-sm-12">
                                        <h5 class="m-b-xs text-muted text-left">
                                            Subscription Details
                                        </h5>
                                    </div>
                                </section>
                                <section class="row">
                                    <div class="col-sm-12">
                                        <div class="panel b-a">
                                            <div class="row m-n text-center">
                                                <div class="col-md-6 b-b">
                                                    <section class="row m-t-md m-b-md">
                                                      
                                                        <div class="col-md-12 text-center text-muted m-t-n-md container">
                                                          <div class="row">
                                                              <span class="h2 block" id="disp_reg" ><%= @total_meals %></span>
                                                              <small class="text-muted text-u-c">Total meals</small>
                                                          </div>
                                                          <div class="row row-centered">
                                                            <div class="col-md-6 col-centered" style="float:none; margin-top: -50px;">
                                                              <input type="text" id="total_meals_spinner" value="<%= @total_meals %>" style="opacity: 0;">
                                                            </div>
                                                          </div>
                                                        </div>  
                                                      
                                                    </section>
                                                </div>
                                                <div class="col-md-6 b-b">
                                                    <section class="row m-t-md m-b-md">
                                                      
                                                        <div class="col-md-12 text-center text-success-lt m-t-n-md container">
                                                          <div class="row">
                                                              <span class="h2 block" id="disp_grn"><%= @total_green %></span>
                                                              <small class="text-muted text-u-c">Green meals</small>
                                                          </div>
                                                          <div class="row row-centered">
                                                            <div class="col-md-6 6 col-centered" style="float:none; margin-top: -50px;">
                                                              <input type="text" id="green_meals_spinner" value="<%= @total_green %>" style="opacity: 0" >
                                                            </div>
                                                          </div>
                                                        </div>  
                                                      
                                                    </section>
                                                </div>
                                            </div>
                                            
                                              <%= form_tag update_customer_path("change_subscription"), method: 'POST', id:"change_meal_count" do %>
                                                <div class="row padder m-t-sm">
                                                  <div class="col-sm-8">
                                                    <div class="row">
                                                      <div class="col-sm-4">
                                                        <div class="checkbox i-checks">
                                                          <%= label_tag :no_pork do %>
                                                            <%= check_box_tag :no_pork,nil,@current_customer.no_pork %>
                                                            <i></i>
                                                            No Pork
                                                          <% end %>
                                                        </div>
                                                      </div>  
                                                      <div class="col-sm-4">
                                                        <div class="checkbox i-checks">
                                                          <%= label_tag :no_beef do %>
                                                            <%= check_box_tag :no_beef,nil,@current_customer.no_beef %>
                                                            <i></i>
                                                            No Beef
                                                          <% end %>
                                                        </div>
                                                      </div>  
                                                      <div class="col-sm-4">
                                                        <div class="checkbox i-checks">
                                                          <%= label_tag :no_poultry do %>
                                                            <%= check_box_tag :no_poultry,nil,@current_customer.no_poultry %>
                                                            <i></i>
                                                            No Poultry
                                                          <% end %>
                                                        </div>
                                                      </div>  
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="row padder">
                                                  <div class="col-sm-2 padder-v">
                                                  
                                                    <%= hidden_field_tag :monday_reg_hidden, @monday_regular %>
                                                    <%= hidden_field_tag :monday_grn_hidden, @monday_green %>
                                                    <%= hidden_field_tag :thursday_reg_hidden, @thursday_regular %>
                                                    <%= hidden_field_tag :thursday_grn_hidden, @thursday_green  %>
                                                    <%= submit_tag 'Update Subscription', class:"btn btn-s-md btn-success disabled" %>          
                                                  </div>
                                                  <div class="col-sm-3 padder-v hidden" id="subscription_change_warning">
                                                    <div class="alert alert-warning alert-block text-center" style="height:34px; padding-top:8px;">
                                                      
                                                      You have unsaved changes
                                                    </div>
                                                  </div>
                                                </div>  
                                              <% end %>
                
                                             
                                        </div>
                                    </div>
                                </section>                           
                                <section class="row m-b-xs">
                                    <div class="col-sm-12">
                                        <h5 class="m-b-xs text-muted text-left">
                                            Change Pick-up Hub
                                        </h5>
                                    </div>
                                </section>
                                <section class="row">
                                    <div class="col-sm-12">
                                        <div class="panel b-a padder text-left padder-v">
                                            <%= form_tag update_customer_path("hub"), method: 'POST', class:"m-b-none", id:"hub_change_form" do %>
                                              <div class="form-group">
                                                <%= select_tag "hub", options_for_select(@hubs), id:"chosen-select-hub",include_blank: true,data: {placeholder: @requested_hub_to_change_to ? @requested_hub_to_change_to.cancel_reason : @current_customer.hub} %>
                                                <script>
                                                  $("#chosen-select-hub").chosen({
                                                    width: "330px",
                                                    disable_search: true
                                                  }).off("change").on("change",function(){
                                                    $("#hub_change_form input[type=submit]").removeClass("disabled");
                                                    $("#hub_change_warning div").removeClass("hidden");
                                                  })
                                                </script>
                                              </div>
                                              <div class="row m-b-n-md">
                                                <div class="col-sm-2 padder-v">
                                                  <%= submit_tag 'Update Hub', class:"btn btn-s-md btn-success disabled" %>
                                                </div>
                                                <div class="col-sm-3 padder-v " id="hub_change_warning">
                                                  <div class="alert alert-warning alert-block text-center hidden" style="height:34px; padding-top:8px;"> 
                                                    You have unsaved changes
                                                  </div>
                                                </div>
                                              </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </section>                           
                                <section class="row m-b-xs">
                                    <div class="col-sm-12">
                                        <h5 class="m-b-xs text-muted text-left">
                                            Put Subscription on Hold (deadline to cancel or pause is the Thursday of every week)
                                        </h5>
                                    </div>
                                </section>
                                <section class="row">
                                    <div class="col-sm-12">
                                        <div class="panel b-a padder text-left">
                                            <div class="row">
                                              <% if @display_restart %>
                                                <div class="col-sm-2 m-b-md m-t-md">
                                                  <%= form_tag update_customer_path("restart"), method: 'POST' do %>
                                                      <%= submit_tag 'Resume Subscription', class:"btn btn-s-md btn-success", id: "resume_subscription_button" %>
                                                  <% end %>
                                                </div>
                                                <div class="col-sm-6 m-b-md m-t-md hidden" id="subscription_change_alert" style="margin-bottom:0 !important;">
                                                  <div class="alert alert-warning text-center" style="padding-top:8px; padding-bottom:8px;">
                                                    
                                                    You have unpaid invoices. Please <a href="#settings" data-toggle="tab" class="link_to_settings"> update your credit card</a> before resuming.
                                                  </div>
                                                </div>
                                              <% end %>
                                              <% if @display_pause %>
                                                <div class="col-sm-2 m-b-md m-t-md">
                                                  <div class="btn btn-s-md btn-default" data-toggle="modal" data-target="#pauseModal">Pause Subscription</div>
                                                </div>
                                              <% end %>
                                              <% if @display_cancel %>
                                                <div class="col-sm-2 m-b-md m-t-md">
                                                  <div class="btn btn-s-md btn-default" data-toggle="modal" data-target="#cancelModal">Cancel Subscription</div>
                                                </div>
                                              <% end %>
                                            </div>  
                                        </div>
                                    </div>
                                </section>                           
                            </section>
                        </section>
                    </section> 

                    <section class="tab-pane" id="referral" role="tabpanel">
                        <section class="vbox">
                            <section class="scrollable padder">
                              <% if flash[:notice_referral] %>
                                <div class="row m-t-sm">
                                  <div class="col-sm-12">
                                    <div class="alert alert-<%= flash[:status] == "success" ? "success" : "danger" %>" style="margin-bottom:0 !important;">
                                      <%= flash[:notice_referral] %>
                                    </div>
                                  </div>
                                </div>
                              <% end %>
                                <section class="row m-b-xs m-t-md">
                                    <div class="col-sm-12">
                                        <h5 class="m-b-xs text-muted text-left">
                                            Your referrals
                                        </h5>
                                    </div>
                                </section>
                                <section class="row">
                                    <div class="col-sm-12">
                                        <div class="panel b-a">
                                          <div class="panel-heading no-border bg-light lt text-center"><h4>Your referral code is: <span class="text-primary-lt"><%= @current_customer.referral_code %></span></h4>
                                            <div class="row m-l-md m-r-md padder">
                                              <p>For every friend who signs up with this code, both you and your friend get $10 in meal credits</p>
                                            </div>                                            
                                            <div class="row">
                                              <a rel="me" href="https://twitter.com/intent/tweet?text=Try%20Chowdy%20with%20referral%20code%20<%= @current_customer.referral_code %>,%20get%20$10%20off&url=http://chowdy.ca" class="btn btn-rounded btn-lg text-info-lt" style="font-size: 25px" target="_blank"><i class="fa fa-twitter"></i></a>
                                              <a href="https://www.facebook.com/dialog/feed?app_id=<%= ENV["FACEBOOK_APP_ID"] %>&redirect_uri=http://chowdy.ca&link=http://chowdy.ca&caption=Try%20Chowdy%20today&description=Sign%20up%20with%20referral%20code%20<%= @current_customer.referral_code %>,%20get%20$10%20off" class="btn btn-rounded btn-lg text-primary" style="font-size: 25px" target="_blank"><i class="fa fa-facebook"></i></a>
                                              <a href="mailto:?subject=Try%20Chowdy&body=Sign%20up%20to%20Chowdy%20with%20referral%20code%20<%= @current_customer.referral_code %>,%20get%20$10%20off%0A%0A<%= @current_customer.name.split(/\s/)[0].capitalize %>" class="btn btn-rounded btn-lg text-muted" style="font-size: 25px" ><i class="i i-mail"></i></a>
                                            </div>
                                          </div>
                                            <div class="row m-n text-center">
                                                <div class="col-md-6">
                                                    <section class="row m-t-md m-b-md">
                                                      <div class="block padder-v hover">
                                                        <div class="col-md-4 col-md-offset-1 text-success-lt text-right">
                                                          <span class="i-s i-s-2x pull-left m-r-sm" >
                                                              <i class="i i-hexagon2 i-s-base text-changer hover-rotate"></i>
                                                              <i class="fa fa-user text-white"></i>
                                                          </span>
                                                        </div>
                                                        <div class="col-md-7 text-left text-success-lt" style="margin-top: -25px; margin-left: -10px; padding-left: 0px;">
                                                              <span class="h2 block"><%= @number_of_referrals %></span>
                                                              <small class="text-muted text-u-c">People referred</small>
                                                        </div>  
                                                      </div>
                                                    </section>
                                                </div>
                                                <div class="col-md-6">
                                                    <section class="row m-t-md m-b-md">
                                                      <div class="block padder-v hover">
                                                        <div class="col-md-4 col-md-offset-1 text-primary-lt text-right">
                                                          <span class="i-s i-s-2x pull-left m-r-sm" >
                                                              <i class="i i-hexagon2 i-s-base text-changer hover-rotate"></i>
                                                              <i class="i i-star2 i-1x text-white"></i>
                                                          </span>
                                                        </div>
                                                        <div class="col-md-7 text-left text-primary-lt" style="margin-top: -25px; margin-left: -10px; padding-left: 0px;">
                                                              <span class="h2 block">$<%= @referral_dollars_earned %></span>
                                                              <small class="text-muted text-u-c">Credits earned</small>
                                                        </div>  
                                                      </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class="row m-b-xs">
                                    <div class="col-sm-12">
                                        <h5 class="m-b-xs text-muted text-left">
                                            Apply promo code
                                        </h5>
                                    </div>
                                </section>
                                <section class="row">
                                    <div class="col-sm-12">
                                        <div class="panel b-a padder text-left padder-v">
                                            <%= form_tag redeem_promo_path, method: 'POST', class:"m-b-none" do %>
                                              <div class="row">
                                                <div class="col-sm-4">
                                                  <div class="form-group">
                                                    <%= text_field_tag 'promo_code', nil, class:"form-control" %>
                                                  </div>
                                                </div>
                                                <div class="col-sm-3">
                                                  <%= submit_tag 'Apply code', class:"btn btn-s-md btn-success" %>
                                                </div>
                                                </div>
                                              </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </section>                           


                            </section>
                        </section>
                    </section>


                    <section class="tab-pane" id="delivery" role="tabpanel">
                      <section class="vbox">
                        <section class="scrollable padder">                      
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="alert alert-<%= @delivery_color_class %> m-t-md padder-v">
                                  <h5><%= @delivery_note %></h5>
                                  <% unless @current_customer.recurring_delivery.blank? %>
                                    <%= form_tag update_customer_path("stop_delivery"), method: 'POST', class: "m-b-none m-t-xs" do %>
                                        <%= submit_tag "Stop delivery", class:"btn btn-sm btn-danger"  %>
                                    <% end %>
                                  <% end %>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                              <section class="panel panel-default">
                                <header class="panel-heading font-bold">Delivery request form<span id="delivery_time_notice"><% if @delivery_boundary == "downtown" %> - note that <span class="text-danger-lt">default delivery time is every Monday and Thursday between 11am and noon</span> unless otherwise requested below. If our courier cannot drop off the meals, they will return them to the hub, where you're welcome to pick up the meals yourself.<% elsif @delivery_boundary == "GTA" %> - your meals will be delivered between 8am and 2pm every Monday and Thursday in a thermal insulated bag. Our couriers will call you when they arrive<% end %></span></header>
                                <div class="panel-body">
                                  <%= form_tag update_customer_path("delivery"), method: 'POST', role: 'form', id:"delivery_request_form" do %>
                                    <div class="form-group">
                                      <%= label_tag 'phone_number', "Phone number" %>
                                      <%= telephone_field_tag 'phone_number', @phone_number, class:"form-control" %>
                                    </div>
                                    <div class="form-group">
                                      <%= label_tag 'delivery_address', "Delivery address with unit number" %>
                                      <%= text_field_tag 'delivery_address', @delivery_address, class: "form-control" %>
                                      <div class="alert alert-warning m-t-xs hidden" id="address_match_warning">
                                          <strong></strong>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <%= label_tag 'note', "Additional note #{"(we cannot deliver after 5pm)" if @delivery_boundary == "downtown"}" %>
                                      <%= text_area_tag 'note', @note, class: "form-control" %>
                                    </div>
                                    <%= hidden_field_tag 'boundary', @delivery_boundary %>
                                    <div class="row">
                                      <div class="col-sm-5 m-t-md">
                                        <%= submit_tag @delivery_button, class:"btn btn-md btn-default #{"disabled" unless @do_not_disable_delivery_button_initially}", id: "request_delivery_submit" %>
                                      </div>
                                      <div class="col-sm-7 m-t-md">
                                        <div class="alert alert-warning alert-block text-center hidden" id="delivery_change_warning" style="height:34px; padding-top:8px;">
                                          
                                          You have unsaved changes
                                        </div>
                                      </div>
                                    </div>
                                  <% end %>
                                </div>
                              </section>
                            </div>
                          </div>                      
                        </section>
                      </section>                      
                    </section>


                    <section class="tab-pane" id="settings" role="tabpanel">
                      <section class="vbox">
                        <section class="scrollable padder"> 
                          <% if flash[:notice_customer_setting] %>
                            <div class="row m-t-xs">
                              <div class="col-sm-12">
                                <div class="alert alert-<%= flash[:status] == "success" ? "success" : "danger" %>" style="margin-bottom:0 !important;">
                                  <%= flash[:notice_customer_setting] %>
                                </div>
                              </div>
                            </div>
                          <% end %>
                          <% if @number_of_failed_invoices > 0 %>
                            <section class="row m-t-xs">
                              <div class="col-sm-12">
                                <div class="alert alert-danger" style="margin-bottom:0 !important;">
                                  <i class="fa fa-ban-circle"></i>You have <strong><%= @number_of_failed_invoices %> overdue invoice </strong><%= "s" if @number_of_failed_invoices > 1 %> for the week<%= "s" if @number_of_failed_invoices > 1 %> of <%= @failed_weeks.to_sentence %> due to declined credit card. We will re-attempt in a few days. You can also<a href="#settings" data-toggle="tab" class="link_to_settings"> update your card</a> on your profile.
                                </div>
                              </div>
                            </section>
                          <% end %>

                          <div class="row m-t-md">
                            <div class="col-sm-6">
                              <section class="panel panel-default">
                                <header class="panel-heading font-bold">Update account information</header>
                                <div class="panel-body">
                                  <%= form_tag update_customer_path("email"), method: 'POST', role: "form" do %>
                                    <div class="form-group">
                                      <%= label_tag 'email', "Email" %>
                                      <%= text_field_tag 'email', @current_customer.email, class: "form-control" %>
                                      <%= submit_tag 'Update email', class:"btn btn-md btn-default m-t-sm" %>
                                    </div>
                                  <% end %>
                                  <div class="line line-dashed b-b line-lg pull-in"></div>
                                  <%= form_tag update_customer_path("name"), method: 'POST' do %>
                                    <div class="form-group">
                                      <%= label_tag 'name', "Name" %>
                                      <%= text_field_tag 'name', @current_customer.name, class: "form-control" %>
                                      <%= submit_tag 'Update name', class:"btn btn-md btn-default m-t-sm" %>
                                    </div>
                                  <% end %>
                                  <div class="line line-dashed b-b line-lg pull-in"></div>
                                  <%= form_tag update_customer_path("change_card"), id:"change_card_form" do %>
                                    <div class="form-group">
                                      <label>Credit Card</label>
                                      <p class="form-control-static"><%= @card_brand %> ending in <%= @card_last4 %></p>
                                        <script>
                                        $(function() {
                                            $('#change_card_form input[type=submit]').on('click', function(event) {
                                                event.preventDefault();

                                                var $button = $(this),
                                                    $form = $button.parents('form');

                                                var opts = $.extend({}, $button.data(), {
                                                    token: function(result) {
                                                        $form.append($('<input>').attr({ type: 'hidden', name: 'stripeToken', value: result.id })).submit();
                                                    }
                                                });

                                                StripeCheckout.open(opts);
                                            });
                                        });
                                        </script>
                                        <%= submit_tag 'Change Card', class:"btn btn-md btn-info m-t-sm", data: {key: Rails.configuration.stripe[:publishable_key], description: "Update your credit card info", amount:"0", label:"Change Card", panel_label: "Change Now"} %>
                                    </div>
                                  <% end %>
                                  <div class="line line-dashed b-b line-lg pull-in"></div>
                                  <div class="form-group">
                                    <label>Feedback</label>
                                    <p class="form-control-static">
                                      <div class="btn btn-md btn-success"  data-toggle="modal" data-target="#feedbackModal">Provide Feedback
                                      </div>
                                    </p>
                                  </div>
                                </div>
                              </section>
                            </div>
                          </div>
                        </section>
                      </section>                      
                    </section>  


                    <section class="tab-pane" id="rate_menu" role="tabpanel">
                      <section class="vbox">
                        <section class="scrollable padder"> 
                          <div class="row">
                            <div class="col-sm-6 b-r b-3x">
                              <div class="row m-t-md padder">
                                <div class="col-sm-12 b-b b-3x"><b>Meals for Monday - Wednesday (<%= (@menu_date_sunday+1.day).strftime("%b %d") %> - <%= (@menu_date_sunday+3.day).strftime("%b %d") %>)</b></div>
                              </div>  
                              <div class="row m-t-md padder">
                                <div class="col-sm-12">
                                  <section class="panel b-a animated fadeInUp" style="border: none;" id="rating_monday_beef">
                                    <div class="panel-heading no-border bg-dark">
                                      <span class="font-bold" style="color: #FFFFFF "><%= @beef_monday %></span>
                                    </div>
                                    <div class="panel-body no-border">
                                      Feedback for this item
                                      <section class="scrollable bg-light lter">
                                        <textarea rows="3" class="form-control scrollable"></textarea>
                                        <%= hidden_field_tag 'menu_id', @beef_monday_id ||= 0 %>
                                      </section>
                                    </div>
                                    <div class="clearfix panel-footer no-border">
                                      <div class="star_rating pull-left"></div>
                                      <div class="submit_meal_rating pull-right btn btn-default disabled" id="submit_rating_monday_beef">Submit rating</div>
                                    </div>
                                  </section>
                                </div>
                              </div>
                              <div class="row m-t-md padder">
                                <div class="col-sm-12">
                                  <section class="panel b-a animated fadeInUp" style="border: none;" id="rating_monday_pork">
                                    <div class="panel-heading no-border bg-black lter">
                                      <span class="font-bold" style="color: #FFFFFF"><%= @pork_monday %></span>
                                    </div>
                                    <div class="panel-body no-border">
                                      Feedback for this item
                                      <section class="scrollable bg-light lter">
                                        <textarea rows="3" class="form-control scrollable"></textarea>
                                        <%= hidden_field_tag 'menu_id', @pork_monday_id ||= 0 %>
                                      </section>
                                    </div>
                                    <div class="clearfix panel-footer no-border">
                                      <div class="star_rating pull-left"></div>
                                      <div class="submit_meal_rating pull-right btn btn-default disabled" id="submit_rating_monday_pork">Submit rating</div>
                                    </div>
                                  </section>
                                </div>                              
                              </div>
                              <div class="row m-t-md padder">
                                <div class="col-sm-12">
                                  <section class="panel b-a animated fadeInUp" style="border: none;" id="rating_monday_poultry">
                                    <div class="panel-heading no-border bg-black lter">
                                      <span class="font-bold" style="color: #FFFFFF "><%= @poultry_monday %></span>
                                    </div>
                                    <div class="panel-body no-border">
                                      Feedback for this item
                                      <section class="scrollable bg-light lter">
                                        <textarea rows="3" class="form-control scrollable"></textarea>
                                        <%= hidden_field_tag 'menu_id', @poultry_monday_id ||= 0 %>
                                      </section>
                                    </div>
                                    <div class="clearfix panel-footer no-border">
                                      <div class="star_rating pull-left"></div>
                                      <div class="submit_meal_rating pull-right btn btn-default disabled" id="submit_rating_monday_poultry">Submit rating</div>
                                    </div>
                                  </section>
                                </div>                              
                              </div>
                              <div class="row m-t-md padder">
                                <div class="col-sm-12">
                                  <section class="panel b-a animated fadeInUp" style="border: none;" id="rating_monday_green_1">
                                    <div class="panel-heading no-border bg-success lter">
                                      <span class="font-bold" style="color: #FFFFFF "><%= @green_1_monday %></span>
                                    </div>
                                    <div class="panel-body no-border">
                                      Feedback for this item
                                      <section class="scrollable bg-light lter">
                                        <textarea rows="3" class="form-control scrollable"></textarea>
                                        <%= hidden_field_tag 'menu_id', @green_1_monday_id ||= 0 %>
                                      </section>
                                    </div>
                                    <div class="clearfix panel-footer no-border">
                                      <div class="star_rating pull-left"></div>
                                      <div class="submit_meal_rating pull-right btn btn-default disabled" id="submit_rating_monday_green_1">Submit rating</div>
                                    </div>
                                  </section>
                                </div>                              
                              </div>
                              <div class="row m-t-md padder">
                                <div class="col-sm-12">
                                  <section class="panel b-a animated fadeInUp" style="border: none;" id="rating_monday_green_2">
                                    <div class="panel-heading no-border bg-success lter">
                                      <span class="font-bold" style="color: #FFFFFF "><%= @green_2_monday %></span>
                                    </div>
                                    <div class="panel-body no-border">
                                      Feedback for this item
                                      <section class="scrollable bg-light lter">
                                        <textarea rows="3" class="form-control scrollable"></textarea>
                                        <%= hidden_field_tag 'menu_id', @green_2_monday_id ||= 0 %>

                                      </section>
                                    </div>
                                    <div class="clearfix panel-footer no-border">
                                      <div class="star_rating pull-left"></div>
                                      <div class="submit_meal_rating pull-right btn btn-default disabled" id="submit_rating_monday_green_2">Submit rating</div>
                                    </div>
                                  </section>
                                </div>                              
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="row m-t-md padder">
                                <div class="col-sm-12 b-b b-3x"><b>Meals for Thursday - Saturday (<%= (@menu_date_sunday+4.day).strftime("%b %d") %> - <%= (@menu_date_sunday+6.day).strftime("%b %d") %>)</b></div>
                              </div>  
                              <div class="row m-t-md padder">
                                <div class="col-sm-12">
                                  <section class="panel b-a animated fadeInUp" style="border: none;" id="rating_monday_beef">
                                    <div class="panel-heading no-border bg-dark">
                                      <span class="font-bold" style="color: #FFFFFF "><%= @beef_thursday %></span>
                                    </div>
                                    <div class="panel-body no-border">
                                      Feedback for this item
                                      <section class="scrollable bg-light lter">
                                        <textarea rows="3" class="form-control scrollable"></textarea>
                                        <%= hidden_field_tag 'menu_id', @beef_thursday_id ||= 0 %>
                                      </section>
                                    </div>
                                    <div class="clearfix panel-footer no-border">
                                      <div class="star_rating pull-left"></div>
                                      <div class="submit_meal_rating pull-right btn btn-default disabled" id="submit_rating_thursday_beef">Submit rating</div>
                                    </div>
                                  </section>
                                </div>
                              </div>
                              <div class="row m-t-md padder">
                                <div class="col-sm-12">
                                  <section class="panel b-a animated fadeInUp" style="border: none;" id="rating_thursday_pork">
                                    <div class="panel-heading no-border bg-black lter">
                                      <span class="font-bold" style="color: #FFFFFF"><%= @pork_thursday %></span>
                                    </div>
                                    <div class="panel-body no-border">
                                      Feedback for this item
                                      <section class="scrollable bg-light lter">
                                        <textarea rows="3" class="form-control scrollable"></textarea>
                                        <%= hidden_field_tag 'menu_id', @pork_thursday_id ||= 0 %>
                                      </section>
                                    </div>
                                    <div class="clearfix panel-footer no-border">
                                      <div class="star_rating pull-left"></div>
                                      <div class="submit_meal_rating pull-right btn btn-default disabled" id="submit_rating_thursday_pork">Submit rating</div>
                                    </div>
                                  </section>
                                </div>                              
                              </div>
                              <div class="row m-t-md padder">
                                <div class="col-sm-12">
                                  <section class="panel b-a animated fadeInUp" style="border: none;" id="rating_monday_poultry">
                                    <div class="panel-heading no-border bg-black lter">
                                      <span class="font-bold" style="color: #FFFFFF "><%= @poultry_monday %></span>
                                    </div>
                                    <div class="panel-body no-border">
                                      Feedback for this item
                                      <section class="scrollable bg-light lter">
                                        <textarea rows="3" class="form-control scrollable"></textarea>
                                        <%= hidden_field_tag 'menu_id', @poultry_monday_id ||= 0 %>
                                      </section>
                                    </div>
                                    <div class="clearfix panel-footer no-border">
                                      <div class="star_rating pull-left"></div>
                                      <div class="submit_meal_rating pull-right btn btn-default disabled" id="submit_rating_monday_poultry">Submit rating</div>
                                    </div>
                                  </section>
                                </div>                              
                              </div>
                              <div class="row m-t-md padder">
                                <div class="col-sm-12">
                                  <section class="panel b-a animated fadeInUp" style="border: none;" id="rating_thursday_green_1">
                                    <div class="panel-heading no-border bg-success lter">
                                      <span class="font-bold" style="color: #FFFFFF "><%= @green_1_thursday %></span>
                                    </div>
                                    <div class="panel-body no-border">
                                      Feedback for this item
                                      <section class="scrollable bg-light lter">
                                        <textarea rows="3" class="form-control scrollable"></textarea>
                                        <%= hidden_field_tag 'menu_id', @green_1_thursday_id ||= 0 %>
                                      </section>
                                    </div>
                                    <div class="clearfix panel-footer no-border">
                                      <div class="star_rating pull-left"></div>
                                      <div class="submit_meal_rating pull-right btn btn-default disabled" id="submit_rating_thursday_green_1">Submit rating</div>
                                    </div>
                                  </section>
                                </div>                              
                              </div>
                              <div class="row m-t-md padder">
                                <div class="col-sm-12">
                                  <section class="panel b-a animated fadeInUp" style="border: none;" id="rating_thursday_green_2">
                                    <div class="panel-heading no-border bg-success lter">
                                      <span class="font-bold" style="color: #FFFFFF "><%= @green_2_thursday %></span>
                                    </div>
                                    <div class="panel-body no-border">
                                      Feedback for this item
                                      <section class="scrollable bg-light lter">
                                        <textarea rows="3" class="form-control scrollable"></textarea>
                                        <%= hidden_field_tag 'menu_id', @green_2_thursday_id ||= 0 %>

                                      </section>
                                    </div>
                                    <div class="clearfix panel-footer no-border">
                                      <div class="star_rating pull-left"></div>
                                      <div class="submit_meal_rating pull-right btn btn-default disabled" id="submit_rating_thursday_green_2">Submit rating</div>
                                    </div>
                                  </section>
                                </div>                              
                              </div>                              
                            </div>
                          </div>
                        </section>
                      </section>                      
                    </section>  

                </section>
            </section>
        
        </section>
    </section>
</section>

<!-- Pause modal -->
<div class="modal fade" id="pauseModal" tabindex="-1" role="dialog" aria-labelledby="pauseModal" aria-hidden="true" style="z-index: 10000;">
  <div class="modal-dialog">
    <%= form_tag update_customer_path("pause"), method: 'POST', role:"form" do %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Set your <b>resume date</b> - your subscription will be paused <b>until</b> this date</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= label_tag 'pause_date_picker', "Select a resume date" %>
            <%= text_field_tag 'pause_date_picker',nil,class: "input-sm input-s form-control datepicker-input readonly", size: "16", data: {date_format: "yyyy-mm-dd"}%>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag 'Pause Subscription', class:"btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Cancel modal -->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModal" aria-hidden="true" style="z-index: 10000;">
  <div class="modal-dialog">
      <div class="modal-content">
        <%= form_tag update_customer_path("cancel"), method: 'POST', id:"cancel_form" do %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Can you let us know the reason for cancellation?</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <%= label_tag 'cancel_reason', "Reason for cancellation" %>
              <%= select_tag "cancel_reason", options_for_select(@cancel_reasons), include_blank: true, class:"chosen-select", data: {placeholder: "Choose one"} %>
              <script>
                $(".chosen-select").chosen({
                  width: "75%",
                  disable_search: true
                }).off("change").on("change",function(){
                  $("#cancel_form input[type=submit]").removeClass("disabled");
                })
              </script>
            </div>
            <div class="form-group">
              <%= label_tag 'feedback', "Other comments" %>
              <%= text_area_tag 'feedback',nil,class: "input-sm input-s form-control", rows: "6", placeholder: "Type your comments" %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= submit_tag 'Confirm cancellation',class:"btn btn-primary disabled" %>
          </div>
        <% end %>
      </div>
  </div>
</div>

<!-- Feedback modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="cancelModal" aria-hidden="true" style="z-index: 10000;">
  <div class="modal-dialog">
      <div class="modal-content">
        <%= form_tag update_customer_path("feedback"), method: 'POST' do %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Feedback</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <%= label_tag 'feedback', "Submit feedback to help improve Chowdy" %>
              <%= text_area_tag 'feedback',nil,class: "input-sm input-s form-control", rows: "6", placeholder: "Type your comments" %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= submit_tag 'Submit feedback',class:"btn btn-primary" %>
          </div>
        <% end %>
      </div>
  </div>
</div>