<% if @number_of_failed_invoices > 0 %>
<p>You have <%= @number_of_failed_invoices %> overdue invoice<%= "s" if @number_of_failed_invoices > 1 %> for the week<%= "s" if @number_of_failed_invoices > 1 %> of <%= @failed_weeks.to_sentence %> due to declined credit card. We will re-attempt in a few days. You can also update your card on your profile.</p>
<% end %>

<p>Status: <%= @current_status %> <%= "(restarting on #{@pause_end.strftime("%B %d, %Y")})" if @pause_end %></p>

<%= form_tag update_customer_path("email"), method: 'POST' do %>
    <%= label_tag 'email', "Email" %>
    <%= text_field_tag 'email', @current_customer.email %>
    <%= submit_tag 'Update' %>
<% end %>
<%= form_tag update_customer_path("name"), method: 'POST' do %>
    <%= label_tag 'name', "Name" %>
    <%= text_field_tag 'name', @current_customer.name %>
    <%= submit_tag 'Update' %>
<% end %>
<p>Hub: <%= @current_customer.hub %></p>
<p>Credit card: <%= @card_brand %> ending in <%= @card_last4 %></p>
<%= form_tag update_customer_path("change_card") do %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Update your credit card info"
          data-amount="0"
          data-label="Change card"
          data-panel-label="Update"></script>
<% end %>
<p>Next pick-up date:<%= @current_customer.next_pick_up_date.strftime("%B %d, %Y") unless @current_customer.next_pick_up_date.blank? %></p>
<p>Next billing date: <%= @next_billing_date.strftime("%B %d, %Y") unless @next_billing_date.blank? %> </p>
<p>Regular meals on Monday: <%= @current_customer.regular_meals_on_monday.to_i %></p>
<p>Green meals on Monday: <%= @current_customer.green_meals_on_monday.to_i %></p>
<p>Regular meals on Thursday: <%= @current_customer.regular_meals_on_thursday.to_i %></p>
<p>Green meals on Thursday: <%= @current_customer.green_meals_on_thursday.to_i %></p>
<p>Delivery: <%= @delivery_note %></p>
<%= form_tag update_customer_path("delivery"), method: 'POST' do %>
    <%= label_tag 'phone_number', "Phone number" %>
    <%= text_field_tag 'phone_number', @phone_number %>
    <%= label_tag 'delivery_address', "Delivery address with unit number" %>
    <%= text_field_tag 'delivery_address', @delivery_address %>
    <%= label_tag 'note', "Additional note (default time is Monday and Thursday by noon)" %>
    <%= text_area_tag 'note', @note %>
    <%= submit_tag @delivery_button %>
<% end %>
<%= form_tag update_customer_path("stop_delivery"), method: 'POST' do %>
    <%= submit_tag "Stop delivery" %>
<% end %>

<p>Meal preferences: <%= @current_customer.meal_preferences %></p>

<%= form_tag update_customer_path("pause"), method: 'POST' do %>
    <%= label_tag 'end_date', "Pause end date" %>
    <%= date_field_tag 'end_date', 14.days.from_now.strftime("%Y-%m-%d") %>
    <%= submit_tag 'Pause' %>
<% end %>
<%= form_tag update_customer_path("cancel"), method: 'POST' do %>
    <%= submit_tag 'Cancel subscription' %>
<% end %>
<%= form_tag update_customer_path("restart"), method: 'POST' do %>
    <%= submit_tag 'Restart Now' %>
<% end %>

<%= form_tag update_customer_path("feedback"), method: 'POST' do %>
    <%= label_tag 'feedback', "Submit feedback to help improve Chowdy" %>
    <p><%= text_area_tag 'feedback', nil,placeholder: "Food, process, etc." %></p>
    <p><%= submit_tag 'Submit feedback' %></p>
<% end %>


<%= link_to "log out", logout_path %>
