
<script>

$(function(){

    map = new GMaps({
      div: '#hub_map',
      lat: 43.7,
      lng: 79.4
    });

    GMaps.geocode({
      address: '<%= @current_customer.hub.sub(/\(.+\)/, "") %>, Toronto',
      callback: function(results, status) {
        if (status == 'OK') {
          var latlng = results[0].geometry.location;
          map.setCenter(latlng.lat(), latlng.lng());
          map.addMarker({
            lat: latlng.lat(),
            lng: latlng.lng(),
            infoWindow: {
              content: '<p>Store hours:</p>'
            }
          });
        }
      }
    });

    // highlight the side navigation bars
    $(".nav-main a").on("click", function(){
     $(".nav-main").find(".highlight").removeClass("highlight");
     $(this).parent().addClass("highlight");
    });

    // date picker

    var earliest_resume_date = new Date(<%= @earliest_pause_end_date.year %>,<%= @earliest_pause_end_date.month.to_i - 1 %>,<%= @earliest_pause_end_date.day %>,0,0,0,0)

    var pauseEndDate = $('#pause_date_picker').datepicker({
      format: "yyyy-mm-dd",
      onRender: function(date) {
        return date.valueOf() < earliest_resume_date.valueOf() ? 'disabled' : '';
      }
    }).on('changeDate', function() {
        pauseDateValidate();
        $('#pause_date_picker').datepicker('hide');
      });

    $('#pause_date_picker').datepicker('setValue', earliest_resume_date)


    // pause date validation
    // function pauseDateValidate() {
    
    $('#pause_date_picker').off("input").on("input",pauseDateValidate);
    // }

    function pauseDateValidate() {
      userSelectedDate = new Date($('#pause_date_picker').val().split("-")[0],$('#pause_date_picker').val().split("-")[1]-1,$('#pause_date_picker').val().split("-")[2]);
      if (userSelectedDate.valueOf() < earliest_resume_date.valueOf()) {
        $("#pauseModal form input:submit").prop("disabled",true);
      } else {
        $("#pauseModal form input:submit").prop("disabled",false); 
      }
    };

    pauseDateValidate();
    // slider
    
    var total_meal_number = <%= @total_meals %>
    var updated_total_meal_number = total_meal_number
    var total_green = <%= @total_green %>
    var updated_green= total_green

    function updateHiddenMealNumbers() {
      $('#monday_reg_hidden').val(parseInt($('#disp_reg_mon').html()));
      $('#monday_grn_hidden').val(parseInt($('#disp_grn_mon').html()));
      $('#thursday_reg_hidden').val(parseInt($('#disp_reg_thu').html()));
      $('#thursday_grn_hidden').val(parseInt($('#disp_grn_thu').html()));
    };

    $('#total_meals_slider').slider({
      min: 6,
      max: 14,
      value: updated_total_meal_number,
      step: 2,
      tooltip: "show"
    }).off('slideStop').on('slideStop',function(){
      $('#subscription_change_warning').removeClass("hidden");
      var updated_value = $(this).slider('getValue');

      if (updated_value - updated_green < 0) { 
          var total_amount_of_green_to_adjust_down = updated_value - updated_green
          if (total_amount_of_green_to_adjust_down % 2 == 0) {
            daily_adjustment = total_amount_of_green_to_adjust_down/2;
            var updated_mon_grn = parseInt($('#disp_grn_mon').html()) + daily_adjustment;
            var updated_thu_grn = parseInt($('#disp_grn_thu').html()) + daily_adjustment;
            $('#disp_grn_mon').html(updated_mon_grn);
            $('#disp_grn_thu').html(updated_thu_grn);
            updated_green = updated_value;
          } else {
            daily_adjustment_low = total_amount_of_green_to_adjust_down/2 - 0.5;
            daily_adjustment_high = total_amount_of_green_to_adjust_down/2 + 0.5;
            var updated_mon_grn = parseInt($('#disp_grn_mon').html()) + daily_adjustment_low;
            var updated_thu_grn = parseInt($('#disp_grn_thu').html()) + daily_adjustment_high;
            $('#disp_grn_mon').html(updated_mon_grn);
            $('#disp_grn_thu').html(updated_thu_grn);
            updated_green = updated_value;
          };
            $('#disp_reg_mon').html(0);
            $('#disp_reg_thu').html(0);  
            updated_total_meal_number = updated_value;
            setup_green_slider(); 
       } else {
          var regular_meals = updated_value - updated_green
          if (regular_meals % 2 == 0) {
            $('#disp_reg_mon').html(regular_meals/2);
            $('#disp_reg_thu').html(regular_meals/2);            
          } else {
            $('#disp_reg_mon').html(regular_meals/2 - 0.5);
            $('#disp_reg_thu').html(regular_meals/2 + 0.5); 
          };
          updated_total_meal_number = updated_value;
          setup_green_slider();  
       }
       updateHiddenMealNumbers();
    });

    function setup_green_slider() {
      $('#green_meals_slider').slider({
        min: 0,
        max: updated_total_meal_number,
        value: updated_green,
        step: 1,
        tooltip: "show"
      }).off('slideStop').on('slideStop',function(){
        $('#subscription_change_warning').removeClass("hidden");
        var updated_value = $(this).slider('getValue');
        var daily_difference_low;
        var daily_difference_high;
        var updated_mon_reg;
        var updated_thu_reg;
        if ((updated_value - total_green) % 2 == 0) {
          daily_difference_low = (updated_value - total_green)/2;
          daily_difference_high = (updated_value - total_green)/2;
          updated_mon_grn = <%= @monday_green %> + daily_difference_low;
          updated_thu_grn = <%= @thursday_green %> + daily_difference_high;
          $('#disp_grn_mon').html(updated_mon_grn);
          $('#disp_grn_thu').html(updated_thu_grn);
          updated_green = updated_value;
          post_green_total_reg_meals = updated_total_meal_number - updated_value;
          if (post_green_total_reg_meals % 2 == 0) {
            $('#disp_reg_mon').html(post_green_total_reg_meals/2);
            $('#disp_reg_thu').html(post_green_total_reg_meals/2);
          } else {
            $('#disp_reg_mon').html(post_green_total_reg_meals/2-0.5);
            $('#disp_reg_thu').html(post_green_total_reg_meals/2+0.5);
          };

        } else {
          daily_difference_low = (updated_value - total_green)/2 - 0.5;
          daily_difference_high = (updated_value - total_green)/2 + 0.5;
          updated_mon_grn = <%= @monday_green %> + daily_difference_low;
          updated_thu_grn = <%= @thursday_green %> + daily_difference_high;
          $('#disp_grn_mon').html(updated_mon_grn);
          $('#disp_grn_thu').html(updated_thu_grn);
          updated_green = updated_value;
          post_green_total_reg_meals = updated_total_meal_number - updated_value;
          if (post_green_total_reg_meals % 2 == 0) {
            $('#disp_reg_mon').html(post_green_total_reg_meals/2);
            $('#disp_reg_thu').html(post_green_total_reg_meals/2);
          } else {
            $('#disp_reg_mon').html(post_green_total_reg_meals/2-0.5);
            $('#disp_reg_thu').html(post_green_total_reg_meals/2+0.5);
          };
        };
        updateHiddenMealNumbers();
      });
    };
    setup_green_slider();
});

</script>


<section class="vbox">
    <header class="bg-black header header-md navbar-fixed-top-xs box-shadow">
        <div class="navbar-header aside-md dk">Chowdy
            <a class="btn btn-link visible-xs" data-toggle="class:show" data-target=".nav-primary">
                      <i class="fa fa-bars"></i>
                    </a>
        </div>
      <%= link_to "log out", logout_path %>
    </header>    
    <section>
        <section class="hbox stretch">
            
            <aside class="bg-white aside-md hidden-print b-r" id="nav">
                <nav class="nav-primary hidden-xs padder-v tabbable">
                    <ul class="nav nav-main" data-ride="collapse">
                        <li class="highlight">
                          <a href="#dashboard" class="auto b-b padder-v" data-toggle="tab">
                            <i class="i i-statistics icon">
                            </i>
                            <span class="font-bold">Dashboard</span>
                          </a>
                        </li>
                        <li>
                          <a href="#changePlan" class="b-b padder-v" data-toggle="tab">
                            <i class="i i-stack icon">
                            </i>
                            <span class="font-bold">Change Subscription</span>
                          </a>
                        </li>
                        <li>
                          <a href="#delivery" class="b-b padder-v"  data-toggle="tab">
                            <i class="i i-lab icon">
                            </i>
                            <span class="font-bold">Delivery</span>
                          </a>
                        </li>
                        <li>
                          <a href="#settings" class="padder-v" data-toggle="tab">
                            <i class="i i-settings icon">
                            </i>
                            <span class="font-bold">Settings</span>
                          </a>
                        </li>
                    </ul>
                </nav>
                
            </aside>


            <section id="content container">
                <section class="hbox stretch bg-light tab-content">
                    <section class="tab-pane active" id="dashboard" role="tabpanel">
                        <section class="vbox">
                            <section class="scrollable padder">
                              <% if @number_of_failed_invoices > 0 %>
                                <section class="row m-t-xs">
                                  <div class="col-sm-12">
                                    <div class="alert alert-danger">
                                      <i class="fa fa-ban-circle"></i>You have <strong><%= @number_of_failed_invoices %> overdue invoice </strong><%= "s" if @number_of_failed_invoices > 1 %> for the week<%= "s" if @number_of_failed_invoices > 1 %> of <%= @failed_weeks.to_sentence %> due to declined credit card. We will re-attempt in a few days. You can also update your card on your profile.
                                    </div>
                                  </div>
                                </section>
                              <% end %>
                                <section class="row m-b-md">
                                    <div class="col-sm-12">
                                        <h3 class="m-b-xs text-muted text-center">
                                    Welcome <%= @current_customer.name.split(/\s/)[0].capitalize %>! Your account is <%= @current_status %> <%= "(restarting on #{@pause_end.strftime("%B %d, %Y")})" if @pause_end %>
                                        </h3>
                                    </div>
                                </section>
                                <section class="row">
                                    <div class="col-sm-12">
                                        <div class="panel b-a">
                                            <div class="row m-n text-center">
                                                <div class="col-md-4 b-b">
                                                    <section class="row m-t-md m-b-md">
                                                      <a href="#" class="block padder-v hover">
                                                        <div class="col-md-4 col-md-offset-1 text-success-lt text-right">
                                                          <span class="i-s i-s-2x pull-left m-r-sm" >
                                                              <i class="i i-hexagon2 i-s-base text-changer hover-rotate"></i>
                                                              <i class="i i-plus2 i-1x text-white"></i>
                                                          </span>
                                                        </div>
                                                        <div class="col-md-7 text-left text-success-lt" style="margin-top: -25px; margin-left: -10px; padding-left: 0px;">
                                                              <span class="h2 block"><%= @current_customer.total_meals_per_week %></span>
                                                              <small class="text-muted text-u-c">Weekly meals</small>
                                                        </div>  
                                                      </a>
                                                    </section>
                                                </div>
                                                <div class="col-md-4 b-b">
                                                    <section class="row m-t-md m-b-md">
                                                      <a href="#" class="block padder-v hover">
                                                        <div class="col-md-4 col-md-offset-1 text-primary-lt text-right">
                                                          <span class="i-s i-s-2x pull-left m-r-sm" >
                                                              <i class="i i-hexagon2 i-s-base text-changer hover-rotate"></i>
                                                              <i class="i i-alarm i-1x text-white"></i>
                                                          </span>
                                                        </div>
                                                        <div class="col-md-7 text-left text-primary-lt" style="margin-top: -25px; margin-left: -10px; padding-left: 0px;">
                                                              <span class="h2 block"><%= @current_customer.next_pick_up_date.strftime("%b #{@current_customer.next_pick_up_date.day.ordinalize}") unless @current_customer.next_pick_up_date.blank? %></span>
                                                              <small class="text-muted text-u-c">Next pick-up</small>
                                                        </div>  
                                                      </a>
                                                    </section>
                                                </div>
                                                <div class="col-md-4 b-b">
                                                    <section class="row m-t-md m-b-md">
                                                      <a href="#" class="block padder-v hover">
                                                        <div class="col-md-4 col-md-offset-1 text-info-lt text-right">
                                                          <span class="i-s i-s-2x pull-left m-r-sm" >
                                                              <i class="i i-hexagon2 i-s-base text-changer hover-rotate"></i>
                                                              <i class="i i-alarm i-1x text-white"></i>
                                                          </span>
                                                        </div>
                                                        <div class="col-md-7 text-left text-info-lt" style="margin-top: -25px; margin-left: -10px; padding-left: 0px;">
                                                              <span class="h2 block"><%= @next_billing_date.strftime("%b #{@next_billing_date.day.ordinalize}") unless @next_billing_date.blank? %></span>
                                                              <small class="text-muted text-u-c">Next billing</small>
                                                        </div>  
                                                      </a>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="row m-b-md">
                                    <div class="col-sm-12">
                                        <h3 class="m-b-xs text-muted text-center">
                                          Pick up at <%= @current_customer.hub %>
                                        </h3>
                                    </div>
                                </section>
                                <section class="row">
                                  <section id="hub_map" class="wrapper"style="min-height: 350px; position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);"></section>
                                </section>
                            </section>
                        </section>
                    </section>
                    
                    <section class="tab-pane" id="changePlan" role="tabpanel">
                        <section class="vbox">
                            <section class="scrollable padder">
                              <% if @number_of_failed_invoices > 0 %>
                                <section class="row m-t-xs">
                                  <div class="col-sm-12">
                                    <div class="alert alert-danger">
                                      <i class="fa fa-ban-circle"></i>You have <strong><%= @number_of_failed_invoices %> overdue invoice </strong><%= "s" if @number_of_failed_invoices > 1 %> for the week<%= "s" if @number_of_failed_invoices > 1 %> of <%= @failed_weeks.to_sentence %> due to declined credit card. We will re-attempt in a few days. You can also update your card on your profile.
                                    </div>
                                  </div>
                                </section>
                              <% end %>
                                <section class="row m-b-xs m-t-md">
                                    <div class="col-sm-12">
                                        <h5 class="m-b-xs text-muted text-left">
                                            Subscription Details <% if @change_effective_date %> (effective <%= @change_effective_date %>) <% end %>
                                        </h5>
                                    </div>
                                </section>
                                <section class="row">
                                    <div class="col-sm-12">
                                        <div class="panel b-a">
                                            <div class="row m-n text-center">
                                                <div class="col-md-3 b-b">
                                                    <section class="row m-t-md m-b-md">
                                                      
                                                        <div class="col-md-12 text-center text-muted m-t-n-md">
                                                              <span class="h2 block" id="disp_reg_mon" ><%= @monday_regular %></span>
                                                              <small class="text-muted text-u-c">Regular meals on Monday</small>
                                                        </div>  
                                                      
                                                    </section>
                                                </div>
                                                <div class="col-md-3 b-b">
                                                    <section class="row m-t-md m-b-md">
                                                      
                                                        <div class="col-md-12 text-center text-success-lt m-t-n-md">
                                                              <span class="h2 block" id="disp_grn_mon"><%= @monday_green %></span>
                                                              <small class="text-muted text-u-c">Green meals on Monday</small>
                                                        </div>  
                                                      
                                                    </section>
                                                </div>
                                                <div class="col-md-3 b-b">
                                                    <section class="row m-t-md m-b-md">
                                                      
                                                        <div class="col-md-12 text-center text-muted m-t-n-md">
                                                              <span class="h2 block" id="disp_reg_thu"><%= @thursday_regular %></span>
                                                              <small class="text-muted text-u-c">Regular meals on Thursday</small>
                                                        </div>  
                                                      
                                                    </section>
                                                </div>
                                                <div class="col-md-3 b-b">
                                                    <section class="row m-t-md m-b-md">
                                                      
                                                        <div class="col-md-12 text-center text-success-lt m-t-n-md">
                                                              <span class="h2 block" id="disp_grn_thu"><%= @thursday_green %></span>
                                                              <small class="text-muted text-u-c">Green meals on Thursday</small>
                                                        </div>  
                                                      
                                                    </section>
                                                </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-sm-12 text-left padder-v">
                                                <div class="col-sm-6 m-t-md">
                                                  <div class="row">
                                                    <div class="col-sm-4 text-left">
                                                      <small class="text-muted text-u-c">Change meal plan</small>
                                                    </div>
                                                    <div class="col-sm-8" style="cursor:pointer;">
                                                      <div class="slider slider-horizontal" id="total_meals_slider"></div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-sm-6 m-t-md">
                                                  <div class="row">
                                                    <div class="col-sm-5 text-left">
                                                      <small class="text-muted text-u-c">Change number of green meals</small>
                                                    </div>
                                                    <div class="col-sm-7" style="cursor:pointer;">
                                                      <div class="slider slider-horizontal" id="green_meals_slider"></div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row padder">
                                              <div class="col-sm-2 padder-v">
                                                <%= form_tag update_customer_path("change_subscription"), method: 'POST' do %>
                                                <%= hidden_field_tag :monday_reg_hidden %>
                                                <%= hidden_field_tag :monday_grn_hidden %>
                                                <%= hidden_field_tag :thursday_reg_hidden %>
                                                <%= hidden_field_tag :thursday_grn_hidden %>
                                                <%= submit_tag 'Update Subscription', class:"btn btn-s-md btn-success" %>          
                                                <% end %>
                                              </div>
                                              <div class="col-sm-3 padder-v hidden" id="subscription_change_warning">
                                                <div class="alert alert-warning alert-block text-center" style="height:34px; padding-top:8px;">
                                                  
                                                  You have unsaved changes
                                                </div>
                                              </div>
  
                                            </div>   
                                        </div>
                                    </div>
                                </section>                           
                                <section class="row m-b-xs">
                                    <div class="col-sm-12">
                                        <h5 class="m-b-xs text-muted text-left">
                                            Put Subscription on Hold (deadline to cancel or pause is the Thursday of every week)
                                        </h5>
                                    </div>
                                </section>
                                <section class="row">
                                    <div class="col-sm-12">
                                        <div class="panel b-a padder text-left">
                                            <div class="row">
                                              <% if @display_restart %>
                                                <div class="col-sm-2 m-b-md m-t-md">
                                                  <%= form_tag update_customer_path("restart"), method: 'POST' do %>
                                                      <%= submit_tag 'Resume Subscription', class:"btn btn-s-md btn-success" %>
                                                  <% end %>
                                                </div>
                                              <% end %>
                                              <% if @display_pause %>
                                                <div class="col-sm-2 m-b-md m-t-md">
                                                  <div class="btn btn-s-md btn-default" data-toggle="modal" data-target="#pauseModal">Pause Subscription</div>
                                                </div>
                                              <% end %>
                                              <% if @display_cancel %>
                                                <div class="col-sm-2 m-b-md m-t-md">
                                                  <div class="btn btn-s-md btn-default" data-toggle="modal" data-target="#cancelModal">Cancel Subscription</div>
                                                </div>
                                              <% end %>
                                            </div>  
                                        </div>
                                    </div>
                                </section>                           
                            </section>
                        </section>
                  
                      <p>Meal preferences: <%= @current_customer.meal_preferences %></p>
                    </section> 


                    <section class="tab-pane" id="delivery" role="tabpanel">
                      <section class="vbox">
                        <section class="scrollable padder">                      
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="alert alert-<%= @delivery_color_class %> m-t-md padder-v">
                                  <h5><%= @delivery_note %></h5>
                                  <% unless @current_customer.recurring_delivery?.blank? %>
                                    <%= form_tag update_customer_path("stop_delivery"), method: 'POST', class: "m-b-none m-t-xs" do %>
                                        <%= submit_tag "Stop delivery", class:"btn btn-sm btn-danger"  %>
                                    <% end %>
                                  <% end %>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                              <section class="panel panel-default">
                                <header class="panel-heading font-bold">Delivery request form</header>
                                <div class="panel-body">
                                  <%= form_tag update_customer_path("delivery"), method: 'POST', role: 'form' do %>
                                    <div class="form-group">
                                      <%= label_tag 'phone_number', "Phone number" %>
                                      <%= telephone_field_tag 'phone_number', @phone_number, class:"form-control", placeholder:"Enter phone number" %>
                                    </div>
                                    <div class="form-group">
                                      <%= label_tag 'delivery_address', "Delivery address with unit number" %>
                                      <%= text_field_tag 'delivery_address', @delivery_address, class: "form-control", placeholder: "Delivery address, including unit number" %>
                                    </div>
                                    <div class="form-group">
                                      <%= label_tag 'note', "Additional note (default delivery time is every Monday and Thursday between 11am and noon)" %>
                                      <%= text_area_tag 'note', @note, class: "form-control" %>
                                    </div>
                                    <%= submit_tag @delivery_button, class:"btn btn-sm btn-default" %>
                                  <% end %>
                                </div>
                              </section>
                            </div>
                          </div>                      
                        </section>
                      </section>                      
                    </section>


                    <section class="tab-pane" id="settings" role="tabpanel">
                      <%= form_tag update_customer_path("email"), method: 'POST' do %>
                          <%= label_tag 'email', "Email" %>
                          <%= text_field_tag 'email', @current_customer.email %>
                          <%= submit_tag 'Update' %>
                      <% end %>
                      <%= form_tag update_customer_path("name"), method: 'POST' do %>
                          <%= label_tag 'name', "Name" %>
                          <%= text_field_tag 'name', @current_customer.name %>
                          <%= submit_tag 'Update' %>
                      <% end %>
                      <p>Credit card: <%= @card_brand %> ending in <%= @card_last4 %></p>
                      <%= form_tag update_customer_path("change_card") do %>
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                data-description="Update your credit card info"
                                data-amount="0"
                                data-label="Change card"
                                data-panel-label="Update"></script>
                      <% end %>


                      <%= form_tag update_customer_path("feedback"), method: 'POST' do %>
                          <%= label_tag 'feedback', "Submit feedback to help improve Chowdy" %>
                          <p><%= text_area_tag 'feedback', nil,placeholder: "Food, process, etc." %></p>
                          <p><%= submit_tag 'Submit feedback' %></p>
                      <% end %>

                    </section>  




                </section>
            </section>
        
        </section>
    </section>
</section>

<!-- Pause modal -->
<div class="modal fade" id="pauseModal" tabindex="-1" role="dialog" aria-labelledby="pauseModal" aria-hidden="true" style="z-index: 10000;">
  <div class="modal-dialog">
    <%= form_tag update_customer_path("pause"), method: 'POST', role:"form" do %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">When would you like to restart?</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= label_tag 'pause_date_picker', "Pick a date" %>
            <%= text_field_tag 'pause_date_picker',nil,class: "input-sm input-s form-control datepicker-input readonly", size: "16", data: {date_format: "yyyy-mm-dd"}%>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag 'Pause Subscription', class:"btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Cancel modal -->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModal" aria-hidden="true" style="z-index: 10000;">
  <div class="modal-dialog">
      <div class="modal-content">
        <%= form_tag update_customer_path("cancel"), method: 'POST' do %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Can you let us know the reason for cancellation?</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <%= label_tag 'feedback', "Your comments" %>
              <%= text_area_tag 'feedback',nil,class: "input-sm input-s form-control", rows: "6", placeholder: "Type your comments" %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= submit_tag 'Confirm cancellation',class:"btn btn-primary" %>
          </div>
        <% end %>
      </div>
  </div>
</div>