
<script>
  
$(function(){

    map = new GMaps({
      div: '#hub_map',
      lat: 43.7,
      lng: 79.4
    });

    GMaps.geocode({
      address: '<%= @current_customer.hub.sub(/\(.+\)/, "") %>, Toronto',
      callback: function(results, status) {
        if (status == 'OK') {
          var latlng = results[0].geometry.location;
          map.setCenter(latlng.lat(), latlng.lng());
          map.addMarker({
            lat: latlng.lat(),
            lng: latlng.lng(),
            infoWindow: {
              content: '<p>Store hours:</p>'
            }
          });
        }
      }
    });

    $(".nav-main a").on("click", function(){
     $(".nav-main").find(".highlight").removeClass("highlight");
     $(this).parent().addClass("highlight");
    });


});

</script>




<section class="vbox">
    <header class="bg-black header header-md navbar-fixed-top-xs box-shadow">
        <div class="navbar-header aside-md dk">Chowdy
            <a class="btn btn-link visible-xs" data-toggle="class:show" data-target=".nav-primary">
                      <i class="fa fa-bars"></i>
                    </a>
        </div>
      <%= link_to "log out", logout_path %>
    </header>    
    <section>
        <section class="hbox stretch">
            
            <aside class="bg-white aside-md hidden-print b-r" id="nav">
                <nav class="nav-primary hidden-xs padder-v tabbable">
                    <ul class="nav nav-main" data-ride="collapse">
                        <li class="highlight">
                          <a href="#dashboard" class="auto b-b padder-v" data-toggle="tab">
                            <i class="i i-statistics icon">
                            </i>
                            <span class="font-bold">Dashboard</span>
                          </a>
                        </li>
                        <li>
                          <a href="#changePlan" class="b-b padder-v" data-toggle="tab">
                            <i class="i i-stack icon">
                            </i>
                            <span class="font-bold">Change Subscription</span>
                          </a>
                        </li>
                        <li>
                          <a href="#delivery" class="b-b padder-v"  data-toggle="tab">
                            <i class="i i-lab icon">
                            </i>
                            <span class="font-bold">Delivery</span>
                          </a>
                        </li>
                        <li>
                          <a href="#settings" class="padder-v" data-toggle="tab">
                            <i class="i i-settings icon">
                            </i>
                            <span class="font-bold">Settings</span>
                          </a>
                        </li>
                    </ul>
                </nav>
                
            </aside>


            <section id="content">
                <section class="hbox stretch bg-light tab-content">
                    <section class="tab-pane active" id="dashboard" role="tabpanel">
                        <section class="vbox">
                            <section class="scrollable padder">
                              <% if @number_of_failed_invoices > 0 %>
                                <section class="row m-t-xs">
                                  <div class="col-sm-12">
                                    <div class="alert alert-danger">
                                      <i class="fa fa-ban-circle"></i>You have <strong><%= @number_of_failed_invoices %> overdue invoice </strong><%= "s" if @number_of_failed_invoices > 1 %> for the week<%= "s" if @number_of_failed_invoices > 1 %> of <%= @failed_weeks.to_sentence %> due to declined credit card. We will re-attempt in a few days. You can also update your card on your profile.
                                    </div>
                                  </div>
                                </section>
                              <% end %>
                                <section class="row m-b-md">
                                    <div class="col-sm-12">
                                        <h3 class="m-b-xs text-muted text-center">
                                    Welcome <%= @current_customer.name.split(/\s/)[0].capitalize %>! Your account is <%= @current_status %> <%= "(restarting on #{@pause_end.strftime("%B %d, %Y")})" if @pause_end %>
                                        </h3>
                                    </div>
                                </section>
                                <section class="row">
                                    <div class="col-sm-12">
                                        <div class="panel b-a">
                                            <div class="row m-n text-center">
                                                <div class="col-md-4 b-b">
                                                    <section class="row m-t-md m-b-md">
                                                      <a href="#" class="block padder-v hover">
                                                        <div class="col-md-4 col-md-offset-1 text-success-lt text-right">
                                                          <span class="i-s i-s-2x pull-left m-r-sm" >
                                                              <i class="i i-hexagon2 i-s-base text-changer hover-rotate"></i>
                                                              <i class="i i-plus2 i-1x text-white"></i>
                                                          </span>
                                                        </div>
                                                        <div class="col-md-7 text-left text-success-lt" style="margin-top: -25px; margin-left: -10px; padding-left: 0px;">
                                                              <span class="h2 block"><%= @current_customer.total_meals_per_week %></span>
                                                              <small class="text-muted text-u-c">Weekly meals</small>
                                                        </div>  
                                                      </a>
                                                    </section>
                                                </div>
                                                <div class="col-md-4 b-b">
                                                    <section class="row m-t-md m-b-md">
                                                      <a href="#" class="block padder-v hover">
                                                        <div class="col-md-4 col-md-offset-1 text-primary-lt text-right">
                                                          <span class="i-s i-s-2x pull-left m-r-sm" >
                                                              <i class="i i-hexagon2 i-s-base text-changer hover-rotate"></i>
                                                              <i class="i i-alarm i-1x text-white"></i>
                                                          </span>
                                                        </div>
                                                        <div class="col-md-7 text-left text-primary-lt" style="margin-top: -25px; margin-left: -10px; padding-left: 0px;">
                                                              <span class="h2 block"><%= @current_customer.next_pick_up_date.strftime("%b #{@current_customer.next_pick_up_date.day.ordinalize}") unless @current_customer.next_pick_up_date.blank? %></span>
                                                              <small class="text-muted text-u-c">Next pick-up</small>
                                                        </div>  
                                                      </a>
                                                    </section>
                                                </div>
                                                <div class="col-md-4 b-b">
                                                    <section class="row m-t-md m-b-md">
                                                      <a href="#" class="block padder-v hover">
                                                        <div class="col-md-4 col-md-offset-1 text-info-lt text-right">
                                                          <span class="i-s i-s-2x pull-left m-r-sm" >
                                                              <i class="i i-hexagon2 i-s-base text-changer hover-rotate"></i>
                                                              <i class="i i-alarm i-1x text-white"></i>
                                                          </span>
                                                        </div>
                                                        <div class="col-md-7 text-left text-info-lt" style="margin-top: -25px; margin-left: -10px; padding-left: 0px;">
                                                              <span class="h2 block"><%= @next_billing_date.strftime("%b #{@next_billing_date.day.ordinalize}") unless @next_billing_date.blank? %></span>
                                                              <small class="text-muted text-u-c">Next billing</small>
                                                        </div>  
                                                      </a>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="row m-b-md">
                                    <div class="col-sm-12">
                                        <h3 class="m-b-xs text-muted text-center">
                                          Pick up at <%= @current_customer.hub %>
                                        </h3>
                                    </div>
                                </section>
                                <section class="row">
                                  <section id="hub_map" class="wrapper"style="min-height: 350px; position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);"></section>
                                </section>
                            </section>
                        </section>
                    </section>
                    <section class="tab-pane" id="changePlan" role="tabpanel">
                      <p>Regular meals on Monday: <%= @current_customer.regular_meals_on_monday.to_i %></p>
                      <p>Green meals on Monday: <%= @current_customer.green_meals_on_monday.to_i %></p>
                      <p>Regular meals on Thursday: <%= @current_customer.regular_meals_on_thursday.to_i %></p>
                      <p>Green meals on Thursday: <%= @current_customer.green_meals_on_thursday.to_i %></p>                      

                      <p>Meal preferences: <%= @current_customer.meal_preferences %></p>

                      <%= form_tag update_customer_path("pause"), method: 'POST' do %>
                          <%= label_tag 'end_date', "Pause end date" %>
                          <%= date_field_tag 'end_date', 14.days.from_now.strftime("%Y-%m-%d") %>
                          <%= submit_tag 'Pause' %>
                      <% end %>
                      <%= form_tag update_customer_path("cancel"), method: 'POST' do %>
                          <%= submit_tag 'Cancel subscription' %>
                      <% end %>
                      <%= form_tag update_customer_path("restart"), method: 'POST' do %>
                          <%= submit_tag 'Restart Now' %>
                      <% end %>

                    </section>  
                    <section class="tab-pane" id="delivery" role="tabpanel">
                      <p>Delivery: <%= @delivery_note %></p>
                      <%= form_tag update_customer_path("delivery"), method: 'POST' do %>
                          <%= label_tag 'phone_number', "Phone number" %>
                          <%= text_field_tag 'phone_number', @phone_number %>
                          <%= label_tag 'delivery_address', "Delivery address with unit number" %>
                          <%= text_field_tag 'delivery_address', @delivery_address %>
                          <%= label_tag 'note', "Additional note (default time is Monday and Thursday by noon)" %>
                          <%= text_area_tag 'note', @note %>
                          <%= submit_tag @delivery_button %>
                      <% end %>
                      <%= form_tag update_customer_path("stop_delivery"), method: 'POST' do %>
                          <%= submit_tag "Stop delivery" %>
                      <% end %>
                    </section>  
                    <section class="tab-pane" id="settings" role="tabpanel">
                      <%= form_tag update_customer_path("email"), method: 'POST' do %>
                          <%= label_tag 'email', "Email" %>
                          <%= text_field_tag 'email', @current_customer.email %>
                          <%= submit_tag 'Update' %>
                      <% end %>
                      <%= form_tag update_customer_path("name"), method: 'POST' do %>
                          <%= label_tag 'name', "Name" %>
                          <%= text_field_tag 'name', @current_customer.name %>
                          <%= submit_tag 'Update' %>
                      <% end %>
                      <p>Credit card: <%= @card_brand %> ending in <%= @card_last4 %></p>
                      <%= form_tag update_customer_path("change_card") do %>
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                data-description="Update your credit card info"
                                data-amount="0"
                                data-label="Change card"
                                data-panel-label="Update"></script>
                      <% end %>


                      <%= form_tag update_customer_path("feedback"), method: 'POST' do %>
                          <%= label_tag 'feedback', "Submit feedback to help improve Chowdy" %>
                          <p><%= text_area_tag 'feedback', nil,placeholder: "Food, process, etc." %></p>
                          <p><%= submit_tag 'Submit feedback' %></p>
                      <% end %>

                    </section>  




                </section>
            </section>
        
        </section>
    </section>
</section>
