<div class="row">
    <div class="col-sm-12">
        <div class="alert" style="margin-bottom:0 !important; font-size: 18px;" id="customer_order_details_alert">
        </div>
    </div>
</div>

<table class="display table table-striped m-b-none text-center" style="font-size: 12px">
    <thead >
        <th class="text-center">Date Order Placed</th>
        <th class="text-center">Order ID</th>
        <th class="text-center">Delivery Date</th>
        <th class="text-center">Amount</th>
        <th class="text-center">Cancel Order</th>
        <th class="text-center">Change Order</th>
    </thead>
    <tbody>
        <% @orders.each do |order| %> 
            <tr>
                <td><%= order.created_at.strftime("%Y-%m-%d") %></td>
                <td><%= order.sale_id %></td>
                <td><%= order.delivery_date.strftime("%Y-%m-%d") %></td>
                <td>$<%= (order.total_amount_including_hst_in_cents.to_f/100).round(2).to_s %></td>
                <td>
                    <% if Date.today <= Chowdy::Application.closest_date(-1,4,order.delivery_date) %>
                        <a href="<%= cancel_order_path+"?sale_id=#{order.sale_id}" %>" class="ajax_json_response_only" data-ajax-method="GET" data-message-target="#customer_order_details_alert">Cancel</a>
                    <% end %>
                </td>
                <td>
                    <% if Date.today <= Chowdy::Application.closest_date(-1,4,order.delivery_date) %>
                        <a href="<%= edit_order_path+"?sale_id=#{order.sale_id}" %>" class="pull_modal">Change</a>
                    <% else %>
                        <a href="<%= edit_order_path+"?sale_id=#{order.sale_id}" %>" class="pull_modal">View Order</a>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>