<script>
  $('#confirm_email').off('submit').on('submit',function(){
    event.preventDefault();
    $.ajax({
      url: $(this).attr('action'),
      type: $(this).attr('method'),
      data: $(this).serialize(),
      dataType: 'JSON'
    }).done(function(data){
      if(data.status == "success") {
        $('#formModal').modal('hide');
      } else {
        $('.popup_notice_display').html(data.message);
        $('.popup_notice_display').removeClass('hidden');
      };
    });
  });

</script>

<%= form_tag @post_path, :method => :post, id: "confirm_email" do %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Confirm email address for <%= @person %></h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
        <%= label_tag :target_email, "Send the confirmation to this email" %>
        <%= text_field_tag :target_email, @prepopulated_email ,class: "form-control"  %>
    </div>
    <div class="alert alert-danger popup_notice_display hidden" style="margin-bottom:0 !important">

    </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-md btn-default m-t-sm" data-dismiss="modal">Close</button>
    <%= submit_tag 'Send', class: "btn btn-md btn-default m-t-sm" %>
  </div>
<% end %>