<div class="row padder m-t-none">
    <% partner_products.each do |pp| %>
      <div class="col-lg-2 col-md-2 col-sm-5 col-xs-5 m-l-none m-b-sm m-r-md hovereffect" style="width:300px; height: 200px; padding:0; border-radius:5px; overflow:hidden; z-index:2;">
          <img class="img-responsive" src="<%= pp.photos[0].thumb.url if pp.photos[0] %>" alt="" style=" width:300px;max-width:300px;">
          <div class="overlay">
             <h2><%= pp.product_name %></h2>
             <section class="info">
                <section class="content">
                  <p>by <%= pp.vendor.vendor_name %> ($<%= (pp.price_in_cents.to_f / 100).round(2).to_s %> + HST)</p>
                  <p><%= pp.product_description[0...60] + (pp.product_description.length > 60 ? "..." : "") %> <a class="pull_modal" href="<%= partner_product_path(pp) %>">more</a></p>
                  <form class="add_to_cart" data-product-id="<%= pp.id %>" style="color:black">
                    <div class="form-group">
                      <input type="number" class="qty" data-product-id="<%= pp.id %>" required="true" placeholder="Qty" min="0" style="width:60px;height:32px; float:left; margin-left: 32px; margin-right: 10px; border:1px solid white; text-align: center;">
                    </div>
                    <input type="submit" class="btn btn-s-md btn-default" style="float:left; border: none; border-radius: 0px;" value="Add to Cart">
                  </form>
                </section>
             </section>
          </div>
      </div>
    <% end %>
</div>
<div class="row padder m-t-none">
  <%= paginate PartnerProduct.products_to_display.page(page), params: {controller: :partner_products, action: :paginate} %>
</div>