  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel"><%= @partner_product.product_name.titlecase %> by <%= @partner_product.vendor.vendor_name %></h4>
  </div>
  <div class="modal-body">

      <div id="gallery" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <% @counter = 0 %>
        <% @first_indicator = true %>
        <% if @photos.length > 1 %>
          <ol class="carousel-indicators">
            <% @photos.each do |p| %>
              <li data-target="#gallery" data-slide-to="<%= @counter %>" <%= "class=active" if @first_indicator %>></li>
              <% @counter += 1 %>
              <% @first_indicator = false %>
            <% end %>
          </ol>
        <% end %>
       
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <% @first = true %>
          <% @photos.each do |p| %>
            <div class="item <%= "active" if @first %>">
              <img src="<%= p.url %>" alt="...">
            </div>
            <% @first = false %>
          <% end %>
        </div>
       
       <% if @photos.length > 1 %>
        <!-- Controls -->
        <a class="left carousel-control" href="#gallery" role="button" data-slide="prev">
          <i class="fa fa-chevron-left "></i>
        </a>
        <a class="right carousel-control" href="#gallery" role="button" data-slide="next">
          <i class="fa fa-chevron-right "></i>
        </a>
       <% end %>

      </div> <!-- Carousel -->

      <div class="row padder m-t-md">
        <div class="col-sm-12 b-t padder padder-v">
          <b>Price</b><br> 
          $<%= (@partner_product.price_in_cents.to_f / 100).round(2).to_s %> + HST    
        </div>
      </div>

      <div class="row padder">
        <div class="col-sm-12 b-t padder padder-v">
          <b>Size</b><br>
          <%= @partner_product.product_size %>
        </div>
      </div>

      <div class="row padder">
        <div class="col-sm-12 b-t padder padder-v">
          <b>What we love about it</b><br>
          <%= @partner_product.product_description %>
        </div>
      </div>

      <div class="row padder">
        <div class="col-sm-12 b-t padder padder-v">
          <b>About <%= @partner_product.vendor.vendor_name %></b><br> 
          <%= @partner_product.vendor.vendor_description %>
        </div>
      </div>


      <div class="row padder">
        <div class="col-sm-12 b-t padder padder-v">
          <form class="add_to_cart_popup" data-product-id="<%= @partner_product.id %>" style="color:black">
            <div class="form-group">
              <input type="number" class="qty" data-product-id="<%= @partner_product.id %>" required="true" placeholder="Qty" min="0" style="width:100px;height:34px; float:left; margin-right: 10px; border:1px solid #ccc; text-align: center;">
            </div>
            <input type="submit" class="btn btn-s-md btn-default" style="float:left; border: 1px solid #f0ad4e; background-color:#f0ad4e; border-radius: 5px; color: white !important;" value="Add to Cart">
          </form>
        </div>
      </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-md btn-default m-t-sm" data-dismiss="modal">Close</button>
  </div>
