
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Customer details</h4>
  </div>
  <div class="modal-body">
    <%= form_for @customer, url: admin_update_customer_path(@customer)+"?todo=info", method: :put do |f| %>
      <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :next_pick_up_date %>
          <%= f.date_field :next_pick_up_date, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :phone_number %>
          <%= f.text_field :phone_number, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :notes %>
          <%= f.text_field :notes, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :delivery_address %>
          <%= f.text_field :delivery_address, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :delivery_time %>
          <%= f.text_field :delivery_time, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :special_delivery_instructions %>
          <%= f.text_field :special_delivery_instructions, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :referral_code %>
          <%= f.text_field :referral_code, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :sponsored %>
          <%= f.check_box :sponsored, class: "form-control" %>
      </div>
    <%= f.submit class: "btn btn-md btn-default m-t-sm" %>
    <% end %>
      <div class="line line-dashed b-b line-lg pull-in"></div>
    <%= form_for @customer, url: admin_update_customer_path(@customer)+"?todo=meal_count", method: :put do |f| %>
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
              <%= f.label :regular_meals_on_monday %>
              <%= f.number_field :regular_meals_on_monday, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
              <%= f.label :green_meals_on_monday %>
              <%= f.number_field :green_meals_on_monday, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
              <%= f.label :regular_meals_on_thursday %>
              <%= f.number_field :regular_meals_on_thursday, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
              <%= f.label :green_meals_on_thursday %>
              <%= f.number_field :green_meals_on_thursday, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
              <%= label_tag :interval, "Interval (billing unit)" %>
              <%= select_tag :interval, options_for_select(["day","week","month","year"], @interval), class:"chosen-select" %>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
              <%= label_tag :interval_count, "Interval count (frequency)" %>
              <%= number_field_tag :interval_count,@interval_count, class: "form-control" %>
          </div>
        </div>
      </div>
    <%= f.submit "Update meal count", class: "btn btn-md btn-default m-t-sm" %>
    <% end %>
      <div class="line line-dashed b-b line-lg pull-in"></div>
    <%= form_for @customer, url: admin_update_customer_path(@customer)+"?todo=hub", method: :put do |f| %>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
              <%= f.label :monday_pickup_hub %>
              <%= f.select :monday_pickup_hub, options_for_select(@hubs, @customer.monday_pickup_hub),include_blank: true, class:"chosen-select" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
              <%= f.label :thursday_pickup_hub %>
              <%= f.select :thursday_pickup_hub, options_for_select(@hubs, @customer.thursday_pickup_hub), include_blank: true, class:"chosen-select" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
              <%= f.label :monday_delivery_hub %>
              <%= f.select :monday_delivery_hub, options_for_select(@hubs, @customer.monday_delivery_hub),include_blank: true, class:"chosen-select" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
              <%= f.label :thursday_delivery_hub %>
              <%= f.select :thursday_delivery_hub, options_for_select(@hubs, @customer.thursday_delivery_hub), include_blank: true, class:"chosen-select" %>
          </div>
        </div>
      </div>
    <%= f.submit "Update hub", class: "btn btn-md btn-default m-t-sm" %>
    <% end %>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <%= form_for @customer, url: admin_update_customer_path(@customer)+"?todo=delivery_info", method: :put do |f| %>
          <div class="form-group">
              <%= f.label :delivery_address %>
              <%= f.text_field :delivery_address, class: "form-control" %>
          </div>
          <div class="form-group">
              <%= f.label :delivery_time %>
              <%= f.text_field :delivery_time, class: "form-control" %>
          </div>
          <div class="form-group">
              <%= f.label :delivery_set_up? %>
              <%= f.text_field :delivery_set_up?, class: "form-control" %>
          </div>
          <div class="form-group">
              <%= f.label :special_delivery_instructions %>
              <%= f.text_area :special_delivery_instructions, class: "form-control", rows: 6 %>
          </div>
    <%= f.submit "Update delivery", class: "btn btn-md btn-default m-t-sm" %>
    <% end %>
    <%= form_for @customer, url: admin_update_customer_path(@customer)+"?todo=delivery_toggle", method: :put do |f| %>
          <div class="form-group">
            <% if ["Yes","yes"].include? @customer.recurring_delivery %>
              <%= f.submit "Stop delivery", class: "btn btn-md btn-warning m-t-sm" %>
            <% else %>
              <%= f.submit "Start delivery", class: "btn btn-md btn-default m-t-sm" %>
            <% end %>
          </div>
    
    <% end %>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <%= form_for Refund.new(), url: admin_update_customer_path(@customer)+"?todo=refund", method: :put do |f| %>
          <div class="form-group">
            <p><%= @meals_refunded_this_week %> meals have been refunded this week for a total of $<%= @amount_refunded_this_week %></p>
          </div>
          <div class="form-group">
              <%= f.label :meals_refunded, "Number of meals to refund" %>
              <%= f.number_field :meals_refunded, class: "form-control" %>
          </div>
          <div class="form-group">
              <%= f.label :refund_reason, "Reason for refund" %>
              <%= f.text_area :refund_reason, class: "form-control" %>
          </div>
    <%= f.submit "Refund", class: "btn btn-md btn-warning m-t-sm" %>
    <% end %>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="row">
      <div class="col-sm-6">
      <%= form_for @customer, url: admin_update_customer_path(@customer)+"?todo=attach_coupon", method: :put do |f| %>
            <div class="form-group">
                <%= label_tag :coupon_code %>
                <div class="">
                <%= select_tag :coupon_code, options_for_select(@active_coupons), class:"chosen-select" %>
                </div>
            </div>
      <%= f.submit "Attach coupon", class: "btn btn-md btn-default m-t-sm" %>
      <% end %>
      </div>
      <div class="col-sm-6">
      <%= form_for @customer, url: admin_update_customer_path(@customer)+"?todo=apply_referral", method: :put do |f| %>
            <div class="form-group">
                <%= label_tag :referral_code %>
                <%= text_field_tag :referral_code,nil,class: "form-control" %>
            </div>
      <%= f.submit "Apply referral", class: "btn btn-md btn-default m-t-sm" %>
      <% end %>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-md btn-default m-t-sm" data-dismiss="modal">Close</button>
    
  </div>