
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Customer details</h4>
  </div>
  <div class="modal-body">
    <%= form_for @customer, url: admin_update_customer_path(@customer)+"?todo=info", method: :put do |f| %>
      <div class="form-group">
          <p>Active: <%= @customer.active? %> | Paused: <%= @customer.paused? %></p>
          <p>Outstanding requests: <%= @requests %></p>
      </div>
      <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :next_pick_up_date %>
          <%= f.date_field :next_pick_up_date, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :phone_number %>
          <%= f.text_field :phone_number, class: "form-control" %>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
              <%= f.label :no_pork %>
              <%= f.check_box :no_pork, class: "form-control" %>
          </div>          
        </div>
        <div class="col-sm-3">
          <div class="form-group">
              <%= f.label :no_beef %>
              <%= f.check_box :no_beef, class: "form-control" %>
          </div>          
        </div>
        <div class="col-sm-3">
          <div class="form-group">
              <%= f.label :no_poultry %>
              <%= f.check_box :no_poultry, class: "form-control" %>
          </div>          
        </div>
        <div class="col-sm-3">
          <div class="form-group">
              <%= f.label :extra_ice %>
              <%= f.check_box :extra_ice, class: "form-control" %>
          </div>          
        </div>      
      </div>
      <div class="form-group">
          <%= f.label :notes %>
          <%= f.text_area :notes, class: "form-control", rows:"6" %>
      </div>
      <div class="form-group">
          <%= f.label :referral_code %>
          <%= f.text_field :referral_code, class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.label :sponsored %>
          <%= f.check_box :sponsored, class: "form-control" %>
      </div>
    <%= f.submit class: "btn btn-md btn-default m-t-sm" %>
    <% end %>
      <div class="line line-dashed b-b line-lg pull-in"></div>
    <%= form_for @customer, url: admin_update_customer_path(@customer)+"?todo=meal_count", method: :put do |f| %>
      <div class="row">
        <div class="col-sm-12">
          <p>Outstanding requests: <%= @requests %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
              <%= f.label :regular_meals_on_monday %>
              <%= f.number_field :regular_meals_on_monday, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
              <%= f.label :green_meals_on_monday %>
              <%= f.number_field :green_meals_on_monday, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
              <%= f.label :regular_meals_on_thursday %>
              <%= f.number_field :regular_meals_on_thursday, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
              <%= f.label :green_meals_on_thursday %>
              <%= f.number_field :green_meals_on_thursday, class: "form-control" %>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
              <%= label_tag :interval, "Interval (billing unit)" %>
              <%= select_tag :interval, options_for_select(["day","week","month","year"], @interval), class:"form-control" %>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
              <%= label_tag :interval_count, "Interval count (frequency)" %>
              <%= number_field_tag :interval_count,@interval_count, class: "form-control" %>
          </div>
        </div>
      </div>
    <%= f.submit "Update meal count", class: "btn btn-md btn-default m-t-sm" %>
    <% end %>
      <div class="line line-dashed b-b line-lg pull-in"></div>
    <%= form_for @customer, url: admin_update_customer_path(@customer)+"?todo=hub", method: :put do |f| %>
      <div class="row">
        <div class="col-sm-12">
          <p>Outstanding requests: <%= @requests %></p>  
        </div>
      </div>
      <div class="row">
        
        <div class="col-sm-6">
          <div class="form-group">
              <%= f.label :monday_pickup_hub %>
              <%= f.select :monday_pickup_hub, options_for_select(@hubs, @customer.monday_pickup_hub),include_blank: true, class:"form-control" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
              <%= f.label :thursday_pickup_hub %>
              <%= f.select :thursday_pickup_hub, options_for_select(@hubs, @customer.thursday_pickup_hub), include_blank: true, class:"form-control" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
              <%= f.label :monday_delivery_hub %>
              <%= f.select :monday_delivery_hub, options_for_select(@hubs, @customer.monday_delivery_hub),include_blank: true, class:"form-control" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
              <%= f.label :thursday_delivery_hub %>
              <%= f.select :thursday_delivery_hub, options_for_select(@hubs, @customer.thursday_delivery_hub), include_blank: true, class:"form-control" %>
          </div>
        </div>
      </div>
    <%= f.submit "Update hub", class: "btn btn-md btn-default m-t-sm" %>
    <% end %>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <%= form_for @customer, url: admin_update_customer_path(@customer)+"?todo=delivery_info", method: :put do |f| %>
          <div class="form-group">
              <%= f.label :delivery_address %>
              <span><%= @customer.delivery_address.blank? ? '' : link_to('Map', 'https://www.google.com/maps?q='+@customer.delivery_address, target: '_blank') %></span>
              <%= f.text_field :delivery_address, class: "form-control" %>
          </div>
          <div class="form-group">
              <%= f.label :delivery_time %>
              <%= f.text_field :delivery_time, class: "form-control" %>
          </div>
          <div class="form-group">
              <%= f.label :delivery_set_up? %>
              <%= f.text_field :delivery_set_up?, class: "form-control" %>
          </div>
          <div class="form-group">
              <%= f.label :special_delivery_instructions %>
              <%= f.text_area :special_delivery_instructions, class: "form-control", rows: 6 %>
          </div>
    <%= f.submit "Update delivery", class: "btn btn-md btn-default m-t-sm" %>
    <% end %>
    <%= form_for @customer, url: admin_update_customer_path(@customer)+"?todo=delivery_toggle", method: :put do |f| %>
          <div class="form-group">
            <% if ["Yes","yes"].include? @customer.recurring_delivery %>
              <%= f.submit "Stop delivery", class: "btn btn-md btn-warning m-t-sm" %>
            <% else %>
              <%= f.submit "Start delivery", class: "btn btn-md btn-default m-t-sm" %>
            <% end %>
          </div>
    
    <% end %>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <%= form_for Refund.new(), url: admin_update_customer_path(@customer)+"?todo=refund", method: :put do |f| %>
          <div class="form-group">
            <p><%= @meals_refunded_this_week %> meals have been refunded this week for a total of $<%= @amount_refunded_this_week %></p>
          </div>
          <div class="form-group">
              <%= f.label :meals_refunded, "Number of meals to refund" %>
              <%= f.number_field :meals_refunded, class: "form-control" %>
          </div>
          <div class="form-group">
              <%= f.label :attach_to_next_invoice, "Apply refund to next invoice" %>
              <%= f.check_box :attach_to_next_invoice, class: "form-control" %>
          </div>
          <div class="form-group">
              <%= f.label :refund_reason, "Reason for refund (type it as if the customer will see it on their invoice)" %>
              <%= f.text_area :refund_reason, class: "form-control" %>
          </div>
    <%= f.submit "Refund", class: "btn btn-md btn-warning m-t-sm" %>
    <% end %>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="row">
      <div class="col-sm-6">
      <%= form_for @customer, url: admin_update_customer_path(@customer)+"?todo=attach_coupon", method: :put do |f| %>
            <div class="form-group">
                <%= label_tag :coupon_code %>
                <div class="">
                <%= select_tag :coupon_code, options_for_select(@active_coupons), include_blank: true, class:"form-control" %>
                </div>
            </div>
      <%= f.submit "Attach coupon", class: "btn btn-md btn-default m-t-sm" %>
      <% end %>
      </div>
      <div class="col-sm-6">
      <%= form_for @customer, url: admin_update_customer_path(@customer)+"?todo=apply_referral", method: :put do |f| %>
            <div class="form-group">
                <%= label_tag :referral_code %>
                <%= text_field_tag :referral_code,@customer.matched_referrers_code,class: "form-control" %>
            </div>
      <%= f.submit "Apply referral", class: "btn btn-md btn-default m-t-sm" %>
      <% end %>
      </div>
    </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <%= form_for @customer, url: admin_update_customer_path(@customer)+"?todo=stop", method: :put do |f| %>
      <div class="form-group">
        <p>Outstanding requests for this week: <%= @requests %></p>
      </div>
      <div class="form-group">
          <%= label_tag :stop_type %>
          <%= select_tag :stop_type, options_for_select(["pause","cancel","restart"]), class:"form-control" %>
      </div>
      <div class="form-group">
          <%= label_tag :pause_end %>
          <%= date_field_tag :pause_end,nil, class:"form-control" %>
      </div>
      <div class="form-group">
          <%= label_tag :cancel_reason %>
          <%= select_tag :cancel_reason, options_for_select(@cancel_reasons), class:"form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag 'feedback', "Other cancel notes" %>
        <%= text_area_tag 'feedback',nil,class: "input-sm input-s form-control", rows: "6", placeholder: "Type any other cancel comments" %>
      </div>
      <div class="form-group">
          <%= label_tag :immediate_effect, "Immediate effect (force change after Thursday deadline but before billing. This does not result in refund. For restarts, it's effective starting the upcoming Monday.)" %>
          <%= check_box_tag :immediate_effect,"1",false,class: "form-control"%>
      </div>
    <%= f.submit "Request", class: "btn btn-md btn-danger m-t-sm" %>
    <% end %>
    <% if @customer.user %>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <%= link_to 'Click to view this user''s dashboard', impersonate_user_path(@customer.user.id) %>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <%= link_to 'View user activities', get_user_activity_path(@customer.user), class:"nestedForm" %>
    <% end %>
    <% if @customer.user %>
      <div class="line line-dashed b-b line-lg pull-in"></div>
      <%= form_for @customer, url: admin_update_customer_path(@customer)+"?todo=reset_account", method: :put do |f| %>
      <%= label_tag 'reset_check_box', "Check this box to confirm you want to delete the customer's online account (customer itself will not be deleted, just the online account)" %>
      <%= check_box_tag :confirm_reset,nil,false,class: "form-control"%>
      <%= f.submit "Reset account", class: "btn btn-md btn-danger m-t-sm disabled" %>
      <% end %>    
      <script>
        $('#confirm_reset').off("click").on("click",function(){
          if ($(this).is(':checked')) {
            var form = $(this).closest("form");
            form.find('input[type=submit]').removeClass("disabled");
          } else {
            var form = $(this).closest("form");
            form.find('input[type=submit]').addClass("disabled");
          }
        });
      </script>
    <% end %>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <%= form_for @customer, url: admin_update_customer_path(@customer)+"?todo=destroy", method: :put do |f| %>
    <%= label_tag 'delete_check_box', "Check this box to confirm you want to delete this customer (all trace of the customer will be completely purged)" %>
    <%= check_box_tag :confirm_delete,nil,false,class: "form-control"%>
    <%= f.submit "Delete customer permanently", class: "btn btn-md btn-danger m-t-sm disabled" %>
    <% end %>
    <script>
      $('#confirm_delete').off("click").on("click",function(){
        if ($(this).is(':checked')) {
          var form = $(this).closest("form");
          form.find('input[type=submit]').removeClass("disabled");
        } else {
          var form = $(this).closest("form");
          form.find('input[type=submit]').addClass("disabled");
        }
      });
    </script>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-md btn-default m-t-sm" data-dismiss="modal">Close</button>
    
  </div>