<html>
<head>
    
</head>
<body>
    <p>Hi <%= @recipient_name %>,</p>
    <p><%= @sender_name_short %> has gifted you <%= @amount %> of Chowdy meals (<%= @meals %> meals).</p>

    <p>You can redeem your gift at <a href="http://chowdy.ca/signup">http://chowdy.ca/signup</a>. Simply sign up for <b>ANY</b> one of our plans with the code <b><%= @gift_code %></b>, and you will receive a discount up to the amount of the gift. Any unused amount will be carried over to future weeks.</p>

    <p>Your subscription will automatically stop at the end of the week that your gift runs out. To resume, simply login to your account and click "resume" by the Thursday of that week.</p>

    <% if @pay_delivery %>
        <p>Note that <%= @sender_name_short %> will also be covering your delivery charge. If you choose our delivery option you <b>will not be</b> billed for the delivery charges of $10 per drop for the duration of the gift.</p>
    <% else%>
        <p>Note that if you choose our delivery option <b>you will be</b> billed for the delivery charges of $10 per drop.</p>
    <% end %>
    <% unless @personal_message.blank? %>
        <br>
        <p><b>Message from <%= @sender_name_short %>:</b></p>
        <p>"<i><%= @personal_message %></i>"</p>
    <% end %>

    <p>- the Chowdy team</p>
</body>

</html>
