<%= form_for @promotion do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Promotion</h4>
  </div>
  <div class="modal-body">
    <% if @promotion.code.nil? %>
    <div class="form-group">
        <%= f.label :code %>
        <%= f.text_field :code, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :amount_in_cents %>
        <%= f.text_field :amount_in_cents, class: "form-control"%>
    </div>
    <% end %>
    <div class="form-group">
      <%= f.label :immediate_refund %>
      <%= f.check_box :immediate_refund, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :new_customer_only %>
      <%= f.check_box :new_customer_only, class: "form-control" %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-md btn-default m-t-sm" data-dismiss="modal">Close</button>
    <%= f.submit class: "btn btn-md btn-default m-t-sm" %>
  </div>
<% end %>