<section id="content" class="wrapper-md" style="height: 100%; background-image: url(<%= asset_path 'chowdy-members.jpg' %>); background-size: 100% auto;">    
    <div class="m-t-lg container aside-xl animated fadeInUp" style="width: 360px; background-color: white">
      <p class="navbar-brand block m-t-md" style="float:none !important;">
        <%= link_to "http://chowdy.ca" do %>
          <%= image_tag "logo-dark.png", width:"120px", alt: "Chowdy", class: "m-t-sm m-b-sm", id: "login_logo" %>
        <% end %>
      </p>
      <section class="m-b-lg">
        <header class="wrapper text-center" style="color:#788288">
          <strong>Log in to manage your subscription</strong>
        </header>
        <% if flash[:login_error] %>
          <div class="alert alert-<%= flash[:status] == "success" ? "success" : "danger" %>">
            <%= raw flash[:login_error] %>
          </div>
        <% end %>
        <%= form_tag user_sessions_create_path, :method => :post do %>
          <div class="list-group">
            <div class="list-group-item" style="border-color:#eaeef1">
              <%= text_field_tag :email,nil ,class:"form-control no-border", style:"border-color: transparent; border-width: 0; box-shadow: none;", placeholder: "Email" %>
            </div>
            <div class="list-group-item" style="border-color:#eaeef1">
               <%= password_field_tag :password,nil,class:"form-control no-border", style:"border-color: transparent; border-width: 0; box-shadow: none;", placeholder:"Password (case sensitive)" %>
            </div>
          </div>
          <%= submit_tag "Log in", class:"btn btn-lg btn-info btn-block", style:"border-radius: 2px" %>
          <div class="text-center m-t m-b"><%= link_to auth_at_provider_path(provider: :facebook), class: "btn btn-lg btn-primary btn-block", style:"border-radius: 2px" do %>
                <i class="fa fa-facebook pull-left"></i>
                <small>Log in with Facebook</small>
            <% end %></div>
          <div class="text-center m-t m-b"><a href="#" data-toggle="modal" data-target="#resetModal"><small>Forgot password?</small></a></div>
          <div class="text-center m-t m-b"><a href="http://chowdy.ca/signup"><small>This page is for members only. Click here to sign up for a subscription</small></a></div>
        <% end %>
      </section>
    </div>
</section>


<!-- Reset password modal -->
<div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="cancelModal" aria-hidden="true" style="z-index: 10000;">
  <div class="modal-dialog">
      <div class="modal-content">
        <%= form_tag password_resets_path, :method => :post do %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Type in your email to reset password</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <%= label_tag :email %>
              <%= text_field_tag :email,nil,class: "input-sm input-s form-control" %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= submit_tag 'Reset password',class:"btn btn-primary" %>
          </div>
        <% end %>
      </div>
  </div>
</div>

