<!DOCTYPE>
<html class="app">
<head>
  <title>Chowdy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=true&libraries=geometry" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" %>
  <%= javascript_include_tag "//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js" %>
  <%= javascript_include_tag "https://checkout.stripe.com/v2/checkout.js" %>
  <%= stylesheet_link_tag    "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>



</head>
<body style="background-color:#f2f4f8">

<%= yield %>

</body>
</html>
